force-app/main/default/flows/Account_AI_AU_UpdateRelatedRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <name>Throw_Exception</name>
        <label>Throw Exception</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Is_your_Account_Record_Type_Is_Individual_or_not</name>
        <label>Check Is your Account Record Type Is Individual or not?</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Record Type Other than Individual</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Type_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record_Type_of_Individual</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Your_Account_is_new_or_Not</targetReference>
            </connector>
            <label>Is Record Type Individual?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Your_Account_is_new_or_Not</name>
        <label>Check Your Account is new or Not?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>CheckFields_Filled_prior_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record is not New</defaultConnectorLabel>
        <rules>
            <name>Is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is New?</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckFields_Filled_prior_or_Not</name>
        <label>CheckFields Filled prior or Not?</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.PersonTitle</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonTitle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.PersonMobilePhone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.PersonMobilePhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Phone</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Phone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingCountryCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingGeocodeAccuracy</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingLatitude</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingLatitude</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingLongitude</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingLongitude</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingState</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingState</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingStateCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_related_user</targetReference>
            </connector>
            <label>Is Record Filled?</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-648</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>Account_AI_AU_UpdateRelatedRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account_AI_AU_UpdateRelatedRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_record_Type_of_Individual</name>
        <label>Get record Type of Individual</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_your_Account_Record_Type_Is_Individual_or_not</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Triggering_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_related_user</name>
        <label>Update related user</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>(1 AND 15 ) AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>City</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>CountryCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>GeocodeAccuracy</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </filters>
        <filters>
            <field>Latitude</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </filters>
        <filters>
            <field>Longitude</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PersonMobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>PostalCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>State</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </filters>
        <filters>
            <field>StateCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingStateCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Street</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.PersonTitle</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPortalEnabled</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CountryCode</field>
            <value>
                <elementReference>$Record.BillingCountryCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GeocodeAccuracy</field>
            <value>
                <elementReference>$Record.BillingGeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latitude</field>
            <value>
                <elementReference>$Record.BillingLatitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Longitude</field>
            <value>
                <elementReference>$Record.BillingLongitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.PersonMobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateCode</field>
            <value>
                <elementReference>$Record.BillingStateCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>$Record.PersonTitle</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Triggering_Record</name>
        <label>Update Triggering Record</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>User__pc</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_record_Type_of_Individual</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
