force-app/main/default/flows/Andersen_User_Consent_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign Consent Records to Collection</description>
        <name>Assign_Consent_Records</name>
        <label>Assign Consent Records</label>
        <locationX>1172</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewConsents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Consent_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLoginHistoryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Login_History_of_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_s_First_Login</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>dd_mm_yyyy</name>
        <choiceText>dd/mm/yyyy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dd/mm/yyyy</stringValue>
        </value>
    </choices>
    <choices>
        <name>mm_dd_yyyy</name>
        <choiceText>mm/dd/yyyy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mm/dd/yyyy</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_1</name>
        <choiceText>Option 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Option 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_Hour_Clock</name>
        <choiceText>12 Hour Clock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 Hour Clock</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Apostrophe_for_thousands_period_for_decimals</name>
        <choiceText>1&#39;234&#39;567.89 (Apostrophe for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1&#39;234&#39;567.89 (Apostrophe for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Comma_for_thousands_period_for_decimals</name>
        <choiceText>1,234,567.89 (Comma for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1,234,567.89 (Comma for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Period_for_thousands_comma_for_decimals</name>
        <choiceText>1.234.567,89 (Period for thousands, comma for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.234.567,89 (Period for thousands, comma for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Space_for_thousands_period_for_decimals</name>
        <choiceText>1 234 567.89 (Space for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 234 567.89 (Space for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X24_Hour_Clock</name>
        <choiceText>24 Hour Clock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24 Hour Clock</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_294_967_295_000_Space_for_thousands_comma_for_decimals</name>
        <choiceText>4 294 967 295,000  (Space for thousands, comma for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 294 967 295,000  (Space for thousands, comma for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>yyyy_mm_dd</name>
        <choiceText>yyyy/mm/dd</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yyyy/mm/dd</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision to check contact&#39;s First Login Field Exist or not?</description>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>2426</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>First Login Already Exist</defaultConnectorLabel>
        <rules>
            <name>First_Login_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.First_Login_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.First_Login_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record_For_FirstLogin_Field</targetReference>
            </connector>
            <label>First Login Null</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to Check  First Login Field.</description>
        <name>Contact_Exist</name>
        <label>Contact Exist</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>First Login Already Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.First_Login_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.First_Login_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record_For_First_Login</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Decision to Check First Login Field filled or not.</description>
        <name>Decision_to_Check_Login</name>
        <label>Decision to Check Login</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Update_Secondary_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Login Date Exist</defaultConnectorLabel>
        <rules>
            <name>Is_Login_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.First_Login_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.First_Login_Date__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record</targetReference>
            </connector>
            <label>Is Login Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_They_Agreed_to_Newest_Consent_Forms</name>
        <label>Have They Agreed to Newest Consent Forms?</label>
        <locationX>2030</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Check_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_HaveNotAgreedToNewestConsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Consent_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Sub_flow</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_s_First_Login</name>
        <label>User&#39;s First Login?</label>
        <locationX>1172</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Have_They_Agreed_to_Newest_Consent_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstLogin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$User.First_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Sub_flow1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Salesforce User Consent Flow.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Andersen User Concent Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Andersen User Consent Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Once Criteria to match record to corresponding portal user has been determined, need to update Get Filter</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1172</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Login_History_of_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>1172</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Login_History_of_User</name>
        <label>Get Login History of User</label>
        <locationX>1172</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Consent_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoginHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Consent_Records</name>
        <label>Get Open Consent Records</label>
        <locationX>1172</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Consent_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>(1 OR 3 ) AND 2 AND 4 AND 5</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Wet_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Contact First Login and Secondary Email.</description>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Login_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Email__c</field>
            <value>
                <elementReference>AdditionalEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update first Login Field of Contact.</description>
        <name>Update_Contact_Record_For_First_Login</name>
        <label>Update Contact Record For First Login</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <faultConnector>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Login_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Contact&#39;s first Login field.</description>
        <name>Update_Contact_Record_For_FirstLogin_Field</name>
        <label>Update Contact Record For FirstLogin Field</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Finish_Flow</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Login_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Secondary Email of Contact Record.</description>
        <name>Update_Secondary_Email</name>
        <label>Update Secondary Email</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Secondary_Email__c</field>
            <value>
                <elementReference>AdditionalEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>314</locationX>
        <locationY>1346</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Login__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>UserVar.LocaleSidKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>What_name_would_you_like_us_to_use_when_addressing_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>UserVar.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Prevent &quot;YOUR FLOW FINISHED&quot; verbiage if no conditions are met.</description>
        <name>Finish_Flow</name>
        <label>Finish Flow</label>
        <locationX>2162</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Navigate_To_Finish</name>
            <extensionName>c:loginFlowNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Set_Preferences</name>
        <label>Set Preferences</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Decision_to_Check_Login</targetReference>
        </connector>
        <fields>
            <name>AndersenLogoImage</name>
            <extensionName>c:loginFlowImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ProgressBarHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before you can enter the portal, you need to set your preferences:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormattingPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Formatting Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocaleText</name>
            <fieldText>&lt;p&gt;What is your locale?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>UserVar.LocaleSidKey</objectFieldReference>
        </fields>
        <fields>
            <name>TimezoneText</name>
            <fieldText>&lt;p&gt;What is your timezone?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>UserVar.TimeZoneSidKey</objectFieldReference>
        </fields>
        <fields>
            <name>PersonalPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Personal Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_name_would_you_like_us_to_use_when_addressing_you</name>
            <dataType>String</dataType>
            <fieldText>What name would you like us to use when addressing you?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NotificationPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Notification Preferences&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You will receive notifications at: {!$User.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Preferences_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Preferences_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AdditionalEmailChoice</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Would you like to add another email address to also receive notifications?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Preferences_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AdditionalEmail</name>
                    <dataType>String</dataType>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AdditionalEmailChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Enter Portal</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Throw_Exception</name>
        <label>Throw Exception</label>
        <locationX>1634</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Exception</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Consent_Sub_flow</name>
        <label>Consent Sub-flow</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Contact_Exist</targetReference>
        </connector>
        <flowName>Andresen_Consent_Sub_Flow</flowName>
        <inputAssignments>
            <name>ConsentCollection</name>
            <value>
                <elementReference>NewConsents</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Consent_Sub_flow1</name>
        <label>Consent Sub-flow</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_Preferences</targetReference>
        </connector>
        <flowName>Andresen_Consent_Sub_Flow</flowName>
        <inputAssignments>
            <name>ConsentCollection</name>
            <value>
                <elementReference>NewConsents</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>getLoginHistoryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewConsents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>UserVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
