force-app/main/default/flows/AP_Assignee_Login_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign Consent Records to Collection</description>
        <name>Assign_Consent_Records</name>
        <label>Assign Consent Records</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>NewConsents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Consent_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLoginHistoryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Login_History_of_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_s_First_Login</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>dd_mm_yyyy</name>
        <choiceText>dd/mm/yyyy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dd/mm/yyyy</stringValue>
        </value>
    </choices>
    <choices>
        <name>mm_dd_yyyy</name>
        <choiceText>mm/dd/yyyy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mm/dd/yyyy</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_1</name>
        <choiceText>Option 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Option 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_Hour_Clock</name>
        <choiceText>12 Hour Clock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 Hour Clock</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Apostrophe_for_thousands_period_for_decimals</name>
        <choiceText>1&apos;234&apos;567.89 (Apostrophe for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1&apos;234&apos;567.89 (Apostrophe for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Comma_for_thousands_period_for_decimals</name>
        <choiceText>1,234,567.89 (Comma for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1,234,567.89 (Comma for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Period_for_thousands_comma_for_decimals</name>
        <choiceText>1.234.567,89 (Period for thousands, comma for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.234.567,89 (Period for thousands, comma for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Space_for_thousands_period_for_decimals</name>
        <choiceText>1 234 567.89 (Space for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 234 567.89 (Space for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X24_Hour_Clock</name>
        <choiceText>24 Hour Clock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24 Hour Clock</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_294_967_295_000_Space_for_thousands_comma_for_decimals</name>
        <choiceText>4 294 967 295,000  (Space for thousands, comma for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 294 967 295,000  (Space for thousands, comma for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>yyyy_mm_dd</name>
        <choiceText>yyyy/mm/dd</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yyyy/mm/dd</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Spouse_Exists</name>
        <label>Check if Spouse Exists</label>
        <locationX>248</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Y</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Existing_Spouse_Person_Account</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Assignee_with_Spouse_ID_For_Existing_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Spouse_Info_is_Entered</name>
        <label>Check If Spouse Info is Entered</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Decision_to_Check_Email_Enters_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_any_field_is_populated</name>
            <conditionLogic>((1 AND 8) OR ( 2 AND 7) OR ( 3 AND 10 ) OR ( 4 AND 9 ) OR (5 AND 6 ) )AND 11</conditionLogic>
            <conditions>
                <leftValueReference>Spouse_First_Name_new</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_Last_Name_new</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_new.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone_new.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_Preferred_Name_new</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_Preferred_Name_new</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_Last_Name_new</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_First_Name_new</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Phone_new.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Email_new.value</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Existing_Spouse_Person_Account</targetReference>
            </connector>
            <label>If any field is populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Spouse_info</name>
        <label>Check Spouse info</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_In_condition_of_Email_Enters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spouse doen&apos;t exist</defaultConnectorLabel>
        <rules>
            <name>Is_spouse_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Spouse_First_Name_new</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_First_Name_new</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record_In_condition_of_Email_Enters_in_spouse_condition</targetReference>
            </connector>
            <label>Is spouse exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_Email_Enters_or_Not</name>
        <label>Decision to Check Email Enters or Not</label>
        <locationX>446</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Update_Assignee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email Doesn&apos;t Enters?</defaultConnectorLabel>
        <rules>
            <name>Is_Email_Enters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewEmail.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Assignee_Record_In_Condition_of_Email_Enters</targetReference>
            </connector>
            <label>Is Email Enters?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Have_They_Agreed_to_Newest_Consent_Forms</name>
        <label>Have They Agreed to Newest Consent Forms?</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_HaveNotAgreedToNewestConsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Consent_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Sub_flow</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spouse_exist_or_not</name>
        <label>Spouse exist or not?</label>
        <locationX>710</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Update_User_Record_when_spouse_doesn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Spouse exist</defaultConnectorLabel>
        <rules>
            <name>Spouse</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Spouse_First_Name_new</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Spouse_First_Name_new</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Record</targetReference>
            </connector>
            <label>Spouse?</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_s_First_Login</name>
        <label>User&apos;s First Login?</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Have_They_Agreed_to_Newest_Consent_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstLogin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.First_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Sub_flow_FirstLogin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added Locale Selector component to user login flow</description>
    <dynamicChoiceSets>
        <name>AccessLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Access_Level__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Assignee Login Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP - Assignee Login Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Spouse_Account</name>
        <label>Create New Spouse Account</label>
        <locationX>380</locationX>
        <locationY>1538</locationY>
        <assignRecordIdToReference>New_Spouse_Account_ID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Assignee_with_Spouse_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Spouse_First_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsMarried__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Spouse_Last_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Assignee.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Phone_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__pc</field>
            <value>
                <elementReference>Spouse_Preferred_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Email__pc</field>
            <value>
                <elementReference>Email_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Existing_Spouse_Person_Account</name>
        <label>Find Existing Spouse Person Account</label>
        <locationX>248</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Spouse_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Primary_Email__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_new.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Once Criteria to match record to corresponding portal user has been determined, need to update Get Filter</description>
        <name>Get_Assignee</name>
        <label>Get Assignee</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Login_History_of_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignee_Record_Type</name>
        <label>Get Assignee Record Type</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_User_record</name>
        <label>Get Current User record</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Consent_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Login_History_of_User</name>
        <label>Get Login History of User</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Consent_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoginHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Consent_Records</name>
        <label>Get Open Consent Records</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_User_record</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND (4 OR 1)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wet_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>380</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Spouse_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Access_Consent_Creation</name>
        <label>Access Consent Creation</label>
        <locationX>248</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Decision_to_Check_Email_Enters_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Individual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Spouse_Account_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <elementReference>UserVar.Access_Level__c</elementReference>
            </value>
        </inputAssignments>
        <object>Access_Consent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignee_Record</name>
        <label>Update Assignee Record</label>
        <locationX>710</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Spouse_exist_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agree_to_Share_Email__pc</field>
            <value>
                <elementReference>I_agree_to_share_my_email_with_my_employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Mobile_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Phone_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Primary_Email_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Primary_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Secondary_Email_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Secondary_Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignee_Record_In_Condition_of_Email_Enters</name>
        <label>Update Assignee Record In Condition of Email Enters</label>
        <locationX>182</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Check_Spouse_info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agree_to_Share_Email__pc</field>
            <value>
                <elementReference>I_agree_to_share_my_email_with_my_employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Secondary_Email__pc</field>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Mobile_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Phone_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Primary_Email_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Primary_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Secondary_Email_with_Employer__c</field>
            <value>
                <elementReference>Do_you_want_to_share_Secondary_Email</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignee_with_Spouse_ID</name>
        <label>Update Assignee with Spouse ID</label>
        <locationX>380</locationX>
        <locationY>1646</locationY>
        <connector>
            <targetReference>Access_Consent_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsMarried__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse__pc</field>
            <value>
                <elementReference>New_Spouse_Account_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assignee_with_Spouse_ID_For_Existing_Account</name>
        <label>Update Assignee with Spouse ID For Existing Account</label>
        <locationX>116</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Access_Consent_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_User_record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsMarried__pc</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse__pc</field>
            <value>
                <elementReference>Find_Existing_Spouse_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>578</locationX>
        <locationY>2354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <elementReference>Spouse_Access_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Login__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>AP_Login_flow_locale_selector.selectedLocale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>What_name_would_you_like_us_to_use_when_addressing_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Email__c</field>
            <value>
                <elementReference>Email_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_First_Name__c</field>
            <value>
                <elementReference>Spouse_First_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Last_Name__c</field>
            <value>
                <elementReference>Spouse_Last_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Phone__c</field>
            <value>
                <elementReference>Phone_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Preferred_Name__c</field>
            <value>
                <elementReference>Spouse_Preferred_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>UserVar.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_In_condition_of_Email_Enters</name>
        <label>Update User Record In condition of Email Enters</label>
        <locationX>314</locationX>
        <locationY>2354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <elementReference>Spouse_Access_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Login__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>AP_Login_flow_locale_selector.selectedLocale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>What_name_would_you_like_us_to_use_when_addressing_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Email_with_Employer__c</field>
            <value>
                <elementReference>I_agree_to_share_my_email_with_my_employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>UserVar.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_In_condition_of_Email_Enters_in_spouse_condition</name>
        <label>Update User Record In condition of Email Enters in spouse condition</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <elementReference>Spouse_Access_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>NewEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Login__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>AP_Login_flow_locale_selector.selectedLocale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>What_name_would_you_like_us_to_use_when_addressing_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Share_Email_with_Employer__c</field>
            <value>
                <elementReference>I_agree_to_share_my_email_with_my_employer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Email__c</field>
            <value>
                <elementReference>Email_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_First_Name__c</field>
            <value>
                <elementReference>Spouse_First_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Last_Name__c</field>
            <value>
                <elementReference>Spouse_Last_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Phone__c</field>
            <value>
                <elementReference>Phone_new.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spouse_Preferred_Name__c</field>
            <value>
                <elementReference>Spouse_Preferred_Name_new</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>UserVar.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User_Record_when_spouse_doesn_t_exist</name>
        <label>Update User Record when spouse doesn&apos;t exist</label>
        <locationX>842</locationX>
        <locationY>2354</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <elementReference>Spouse_Access_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Login__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>AP_Login_flow_locale_selector.selectedLocale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>What_name_would_you_like_us_to_use_when_addressing_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>UserVar.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Set_Preferences</name>
        <label>Set Preferences</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Check_If_Spouse_Info_is_Entered</targetReference>
        </connector>
        <fields>
            <name>WelcomeName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Welcome {!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgressBarHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before you can enter the portal, you need to set your preferences:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormattingPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Formatting Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocaleText</name>
            <fieldText>&lt;p&gt;What is your locale (Language and Country)? It will determine language, location, date and number formatting.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AP_Login_flow_locale_selector</name>
            <extensionName>c:localeSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedLocale</name>
                <value>
                    <elementReference>UserVar.LocaleSidKey</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TimezoneText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;What is your timezone?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>UserVar.TimeZoneSidKey</objectFieldReference>
        </fields>
        <fields>
            <name>PersonalPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Personal Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_name_would_you_like_us_to_use_when_addressing_you</name>
            <dataType>String</dataType>
            <fieldText>What name would you like us to use when addressing you? i.e. &apos;Hello Bob!&apos; vs &apos;Hello Bob Smith&apos;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NotificationPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Notification Preferences&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You are currently receiving notifications at: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$User.Email}&lt;/span&gt;. If you update your email address below, you will receive an email with a link asking you to confirm the change. After confirmation, your email address change will be complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Set_Preferences_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Set_Preferences_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AdditionalEmailChoice</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Would you like to change the email address on your account?</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Set_Preferences_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Email Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>AdditionalEmailChoice</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>I_agree_to_share_my_email_with_my_employer</name>
            <dataType>Boolean</dataType>
            <fieldText>I agree to share my email with my employer</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Would_you_Like_to_share_your_Information_with_employee</name>
            <fieldText>Would you Like to share your Information with employee?</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Would_you_Like_to_share_your_Information_with_employee_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_share_Mobile</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Do you want to share Mobile?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Do_you_want_to_share_Primary_Email</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Do you want to share Primary Email?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Would_you_Like_to_share_your_Information_with_employee_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Do_you_want_to_share_Phone</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Do you want to share Phone?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Do_you_want_to_share_Secondary_Email</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Do you want to share Secondary Email?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Spouse_Information</name>
            <dataType>Boolean</dataType>
            <fieldText>Want to fill spouse information?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Spouse_Information_new</name>
            <fieldText>Spouse Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Spouse_Information_new_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spouse_First_Name_new</name>
                    <dataType>String</dataType>
                    <fieldText>Spouse First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email_new</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Spouse_Preferred_Name_new</name>
                    <dataType>String</dataType>
                    <fieldText>Spouse Preferred Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Spouse_Information_new_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Spouse_Last_Name_new</name>
                    <dataType>String</dataType>
                    <fieldText>Spouse Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone_new</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Enter the full phone number in local format, starting with the country code (e.g., +49 151 12345678).</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Spouse_Access_Level</name>
                    <choiceReferences>AccessLevel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Spouse Access Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Choose the level of access that your spouse should have to your information&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Spouse_Information</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignee_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Consent_Sub_flow</name>
        <label>Consent Sub-flow</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <flowName>Consent_Sub_flow</flowName>
        <inputAssignments>
            <name>ConsentCollection</name>
            <value>
                <elementReference>NewConsents</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Consent_Sub_flow_FirstLogin</name>
        <label>Consent Sub-flow</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Set_Preferences</targetReference>
        </connector>
        <flowName>Consent_Sub_flow</flowName>
        <inputAssignments>
            <name>ConsentCollection</name>
            <value>
                <elementReference>NewConsents</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>getLoginHistoryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isPasswordURL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Appliation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Community</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_FinishLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://andersengm--dev.sandbox.my.site.com/ACEAssignee</stringValue>
        </value>
    </variables>
    <variables>
        <name>LoginFlow_IpAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginSubType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_LoginType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_Platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_SessionLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserAgent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Spouse_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewConsents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>retURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>URLParam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
