force-app/main/default/flows/AP_Review_Tax_Return_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_Home</name>
        <label>Navigate To Home</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>TaxReturn_01</name>
        <choiceText>I have reviewed the attached tax return and agree that no changes are required. I confirm that Andersen can move forward with electronically filing my return.</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>TaxReturn_02</name>
        <choiceText>This information is Incorrect, or changes to my tax return are required.</choiceText>
        <dataType>String</dataType>
    </choices>
    <constants>
        <name>Steps</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Review Tax Return Summary,Download Tax Return,Sign Tax Return ,Information Sharing Consent</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_for_Selected_Checkbox</name>
        <label>Decision for Selected Checkbox</label>
        <locationX>710</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Update_Work_Record_changes_to_my_tax_Return</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Changes to my tax return</defaultConnectorLabel>
        <rules>
            <name>I_agree_that_no_changes_are_required</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaxReturn_01</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_work_record_document</targetReference>
            </connector>
            <label>I agree that no changes are required</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_filing_Method</name>
        <label>Decision to check filing Method</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_To_Home</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Filing_Method_is_Electronic_Filing_and_Country_is_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Work_Record__r.Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Record_Document_With_Federal_Tax.Filing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electronic Filing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Return_Screen_01</targetReference>
            </connector>
            <label>Is Filing Method is Electronic Filing and Country is US?</label>
        </rules>
        <rules>
            <name>Is_Filing_Method_is_Paper_Filing_and_Country_is_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Work_Record_Document_With_Federal_Tax.Filing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paper Filing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Return_Screen_02</targetReference>
            </connector>
            <label>Is Filing Method is Paper Filing and Country is US?</label>
        </rules>
        <rules>
            <name>Is_Filing_Method_is_Electronic_Filing_and_Country_not_equals_to_US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Work_Record__r.Country__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>USA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Work_Record_Document_With_Federal_Tax.Filing_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electronic Filing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tax_Return_Screen_03</targetReference>
            </connector>
            <label>Is Filing Method is Electronic Filing and Country not equals to US?</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-280</description>
    <environments>Default</environments>
    <formulas>
        <name>NetAmountInpocket</name>
        <dataType>String</dataType>
        <expression>IF( {!recordId.Work_Record__r.Net_Amount_in_Pocket__c}&lt; 0, &quot;(&quot; &amp; TEXT(ABS({!recordId.Work_Record__r.Net_Amount_in_Pocket__c})) &amp; &quot;)&quot;, TEXT({!recordId.Work_Record__r.Net_Amount_in_Pocket__c}) )</expression>
    </formulas>
    <formulas>
        <name>NetAmountoutOfPocket</name>
        <dataType>String</dataType>
        <expression>IF( {!recordId.Work_Record__r.Net_Amount_out_of_Pocket__c}&lt; 0, &quot;(&quot; &amp; TEXT(ABS({!recordId.Work_Record__r.Net_Amount_out_of_Pocket__c})) &amp; &quot;)&quot;, TEXT({!recordId.Work_Record__r.Net_Amount_out_of_Pocket__c}) )</expression>
    </formulas>
    <interviewLabel>AP - Review Tax Return Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP - Review Tax Return Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Ace_File</name>
        <label>Get Ace File</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_check_filing_Method</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_To_Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Federal Tax Return</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ace_File__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Record_Document_With_Federal_Tax</name>
        <label>Get Work Record Document With Federal Tax</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ace_File</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_To_Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Federal_Tax_Return</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Record_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Information_Request</name>
        <label>Update Information Request</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Navigate_To_Home</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Record_changes_to_my_tax_Return</name>
        <label>Update Work Record changes to my tax Return</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Information_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Changes_Required__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Return_Feedback__c</field>
            <value>
                <elementReference>For_Text_Message</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Record__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_work_record_document</name>
        <label>Update work record document</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_Information_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Return_Approval_Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Return_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Work_Record__c</object>
    </recordUpdates>
    <screens>
        <name>Download_Tax_Return_screen_1</name>
        <label>Download Tax Return screen 1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Information_Request</targetReference>
        </connector>
        <fields>
            <name>Summary_Bar_2_2</name>
            <extensionName>c:progressStepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Summary&quot;,&quot;active&quot;:false},{&quot;label&quot;:&quot;Download Tax Return&quot;,&quot;active&quot;:true}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space_com_02</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Welcome_message_Screen_2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Download Tax Return&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;p&gt;   &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ace_comp_04</name>
            <extensionName>c:ace_TaxReturn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ScreenNumber</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Work_Record__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InformationSharingConsentScreen</name>
        <label>Information Sharing Consent Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Information_Request</targetReference>
        </connector>
        <fields>
            <name>Summary_Bar_1_2</name>
            <extensionName>c:progressStepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Summary&quot;,&quot;active&quot;:false},{&quot;label&quot;:&quot;Tax Return Review&quot;,&quot;active&quot;:true}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>space_com_03</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Wel_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Tax Return Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Message</name>
            <fieldText>&lt;p&gt;In order to e-file your tax return, you need to sign your tax return in SafeSend. By clicking the button below, you consent to have necessary information shared with &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;SafeSend &lt;/span&gt;and to be redirected to their site.&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NavigateToTaxCaddy</name>
            <extensionName>c:navigateToTaxCaddy</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_To_Throw_Exception</name>
        <label>Screen To Throw Exception</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Throw_Exception</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sign_Tax_Return_Screen_1</name>
        <label>Sign Tax Return Screen 1</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_for_Selected_Checkbox</targetReference>
        </connector>
        <fields>
            <name>Summary_Bar_3_3</name>
            <extensionName>c:progressStepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Summary&quot;,&quot;active&quot;:false},{&quot;label&quot;:&quot;Download Tax Return&quot;,&quot;active&quot;:true}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spac</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sign_Tax_Return_Screen_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sign_Tax_Return_Screen_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Sign_Tax_Return_Screen_1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sign_Tax_Return_Screen_1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Ace_comp_06</name>
            <extensionName>c:ace_TaxReturn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ScreenNumber</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Work_Record__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>I_have_downloaded_my_tax_return_01</name>
            <dataType>Boolean</dataType>
            <fieldText>I have downloaded my tax return</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Fill the Checkbox&lt;/p&gt;</errorMessage>
                <formulaExpression>{!I_have_downloaded_my_tax_return_01}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>TaxReturnCheckbox01</name>
            <choiceReferences>TaxReturn_01</choiceReferences>
            <choiceReferences>TaxReturn_02</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select one button.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Sign_Tax_Return_Screen_1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sign_Tax_Return_Screen_1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Conditional_statement</name>
            <fieldText>&lt;p&gt;Please type your full name and date below:&amp;nbsp;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TaxReturn_01</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sign_Tax_Return_Screen_1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sign_Tax_Return_Screen_1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TaxReturn_01</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sign_Tax_Return_Screen_1_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TaxReturn_01</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TaxReturn_01</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>For_Text_Message</name>
            <dataType>String</dataType>
            <fieldText>Please provide more details that will be shared with your tax consultant below:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TaxReturn_02</leftValueReference>
                    <operator>WasSelected</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tax_Return_Screen_01</name>
        <label>Tax Return Screen 01</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>InformationSharingConsentScreen</targetReference>
        </connector>
        <fields>
            <name>Summary_Bar</name>
            <extensionName>c:progressStepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Summary&quot;,&quot;active&quot;:true},{&quot;label&quot;:&quot;Tax Return Review&quot;,&quot;active&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space_element_01</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ace_comp_01</name>
            <extensionName>c:ace_TaxReturn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ScreenNumber</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Work_Record__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tax_Return_Screen_02</name>
        <label>Tax Return Screen 02</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Download_Tax_Return_screen_1</targetReference>
        </connector>
        <fields>
            <name>Summary_Bar2</name>
            <extensionName>c:progressStepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Summary&quot;,&quot;active&quot;:true},{&quot;label&quot;:&quot;Download Tax Return&quot;,&quot;active&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space_element_02</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ace_comp_02</name>
            <extensionName>c:ace_TaxReturn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ScreenNumber</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Work_Record__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tax_Return_Screen_03</name>
        <label>Tax Return Screen 03</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sign_Tax_Return_Screen_1</targetReference>
        </connector>
        <fields>
            <name>Summary_Bar3</name>
            <extensionName>c:progressStepper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>steps</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Summary&quot;,&quot;active&quot;:true},{&quot;label&quot;:&quot;Download Tax Return&quot;,&quot;active&quot;:false}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space_element_03</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ace_comp_03</name>
            <extensionName>c:ace_TaxReturn</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>ScreenNumber</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId.Work_Record__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Review</name>
        <isActive>false</isActive>
        <label>Review</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Sign</name>
        <isActive>false</isActive>
        <label>Sign</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Summary</name>
        <isActive>false</isActive>
        <label>Summary</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Record_Document_With_Federal_Tax</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListofWorkRecordDoc</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofWorkRecordDocCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Information_Request__c</objectType>
    </variables>
    <variables>
        <name>WorkRecordDocumentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>WorkrecordDocumentSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
</Flow>
