force-app/main/default/flows/AP_Team_Member_Display_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>AP - Team Member Display Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP - Team Member Display Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Assignee</name>
        <label>Get Assignee</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Engagement_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignee_Record_Type</name>
        <label>Get Assignee Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_Assignee</name>
        <label>Get Engagement Assignee</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement_Assignee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Records</name>
        <label>Get Work Records</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Records_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement_Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Engagement_Assignee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Record__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Records_2</name>
        <label>Get Work Records 2</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Your_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement_Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Engagement_Assignee.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Record_Contact__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Work_Records.Work_Record_Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Record__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Your_Team</name>
        <label>Your Team</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>YourTeamHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Your Team:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Records.Work_Record_Contact__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Your_Team_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Your_Team_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TeamMember1Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!Get_Work_Records.Work_Record_Contact__r.FirstName} {!Get_Work_Records.Work_Record_Contact__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Records.Work_Record_Contact__r.Title}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Records.Work_Record_Contact__r.Phone}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Records.Work_Record_Contact__r.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Records.Work_Record_Contact__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Your_Team_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TeamMember2Text</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Work_Records_2.Work_Record_Contact__r.FirstName} {!Get_Work_Records_2.Work_Record_Contact__r.LastName}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Records_2.Work_Record_Contact__r.Title}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Phone:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Records_2.Work_Record_Contact__r.Phone}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Work_Records_2.Work_Record_Contact__r.Email}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Work_Records_2.Work_Record_Contact__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>NoTeamMemberText</name>
            <fieldText>&lt;p&gt;You have no team members.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Work_Records.Work_Record_Contact__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Work_Records_2.Work_Record_Contact__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Assignee_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
