force-app/main/default/flows/AP_Work_Record_Management_IR_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Nvaigate_To_Home_Page</name>
        <label>Navigate To Home Page</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Nvaigate_To_Home_Page</name>
        <label>Navigate To Home Page</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Nvaigate_To_Home_Page</name>
        <label>Navigate To Home Page</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Submissions</name>
        <label>Check Submissions</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>No_File_or_Text_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response_to_Information_Request</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>File_Upload.contentDocumentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>File_upload_Component</targetReference>
            </connector>
            <label>No File or Text Entered</label>
        </rules>
        <rules>
            <name>Only_Text_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response_to_Information_Request</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>File_Upload.contentDocumentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Information_Request</targetReference>
            </connector>
            <label>Only Text Entered</label>
        </rules>
        <rules>
            <name>Only_document_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>File_Upload.contentDocumentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Response_to_Information_Request</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Content_Document</targetReference>
            </connector>
            <label>Only document uploaded</label>
        </rules>
        <rules>
            <name>Both_Text_and_Document_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response_to_Information_Request</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>File_Upload.contentDocumentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Content_Document</targetReference>
            </connector>
            <label>Both Text and Document Uploaded</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-314</description>
    <environments>Default</environments>
    <interviewLabel>CP - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Information Request_SCR_Information Request for Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Update_Information_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>File_Upload.contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_ACE_File_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Copy_2_of_Update_Information_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>File_Upload.contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Copy_1_of_Create_ACE_File_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_ACE_File_Record</name>
        <label>Create ACE-File Record</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Copy_1_of_Content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Content_Document.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Content_Document.ContentSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Type__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Content_Document.FileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Request__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Date__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Content_Document.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_By__c</field>
            <value>
                <elementReference>Copy_1_of_Get_Content_Document.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Record__c</field>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </inputAssignments>
        <object>ace_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ACE_File_Record</name>
        <label>Create ACE-File Record</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>Get_Content_Document.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>Get_Content_Document.ContentSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Type__c</field>
            <value>
                <elementReference>Get_Content_Document.FileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Request__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Date__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_By__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Record__c</field>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </inputAssignments>
        <object>ace_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_ACE_File_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copy_1_of_Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>File_Upload.contentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ACE_File_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>File_Upload.contentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Information_Request</name>
        <label>Update Information Request</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Copy_1_of_Nvaigate_To_Home_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Response_to_Information_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Information_Request</name>
        <label>Update Information Request</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Copy_2_of_Nvaigate_To_Home_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Information_Request</name>
        <label>Update Information Request</label>
        <locationX>1106</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Nvaigate_To_Home_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Response__c</field>
            <value>
                <elementReference>Response_to_Information_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Fault_Screen</name>
        <label>Copy 1 of Fault Screen</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Throw_Exception</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;{!$Flow.&lt;/span&gt;&lt;span style=&quot;background-color: var(--dt_color-surf-hgl-3); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Fault&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Throw_Exception</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;{!$Flow.&lt;/span&gt;&lt;span style=&quot;background-color: var(--dt_color-surf-hgl-3); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Fault&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>File_upload_Component</name>
        <label>File_upload_Component</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_to_show_Information_Requested</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(195, 12, 12);&quot;&gt;Please upload file or provide response for information requested&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_show_Information_Requested</name>
        <label>Screen to show Information Requested</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Submissions</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Information Requested&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_enter_the_information_requested_below_in_the_response_field_provided</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>recordId.Description__c</elementReference>
            </defaultValue>
            <fieldText>Please enter the information requested below in the response field provided</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Response_to_Information_Request</name>
            <dataType>String</dataType>
            <fieldText>Response to Information Request:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>File_Upload</name>
            <extensionName>c:fileUploadComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_to_show_Information_Requested</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Information_Request__c</objectType>
    </variables>
</Flow>
