force-app/main/default/flows/AP_Work_Record_Management_Questionnaire_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_To_Home_Page</name>
        <label>Navigate To Home Page</label>
        <locationX>176</locationX>
        <locationY>1022</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Is_File_Uploaded_By_the_User</name>
        <label>Is File Uploaded By the User</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Found</defaultConnectorLabel>
        <rules>
            <name>Is_File_Doesn_t_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Upload_file.contentDocumentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Navigate_To_Home_Page</targetReference>
            </connector>
            <label>Is File Doesn&apos;t Uploaded?</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-318</description>
    <environments>Default</environments>
    <interviewLabel>AP - Work {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AP - Work Record Management Questionnaire Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Information_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Upload_file.contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_ACE_File_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ACE_File_Record</name>
        <label>Create ACE-File Record</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>Get_Content_Document.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>Get_Content_Document.ContentSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Type__c</field>
            <value>
                <elementReference>Get_Content_Document.FileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Information_Request__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Date__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_By__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Record__c</field>
            <value>
                <elementReference>recordId.Work_Record__c</elementReference>
            </value>
        </inputAssignments>
        <object>ace_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Ace_File_Record</name>
        <label>Get Ace-File Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_to_Show</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Information_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Questionnaire</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ace_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ACE_File_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Upload_file.contentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Information_Request_Record</name>
        <label>Update Information Request Record</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Navigate_To_Home_Page</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_to_Show</name>
        <label>Screen to Show</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_File_Uploaded_By_the_User</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Download and Complete Questionnaire&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;Please download your questionnaire provided in the top section. When you’ve completed it, return here to upload the completed document. If you need to re-download the document, return here anytime to download again.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_to_Show_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_to_Show_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header_1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Download Questionnaire to be Completed&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_to_Show_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_to_Show_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_to_Show_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>pdfDownloader_1</name>
                    <extensionName>c:pdfDownloader</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fileId</name>
                        <value>
                            <elementReference>Get_Ace_File_Record.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_to_Show_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_to_Show_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_to_Show_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Header_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Upload the Completed Questionnaire&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Screen_to_Show_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_to_Show_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_to_Show_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upload_file</name>
                    <extensionName>c:fileUploadComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_to_Show_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Throw_Exception</name>
        <label>Throw_Exception</label>
        <locationX>1584</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Exception</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;{!$Flow.&lt;/span&gt;&lt;span style=&quot;background-color: var(--dt_color-surf-hgl-3); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Fault&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Ace_File_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Information_Request__c</objectType>
    </variables>
</Flow>
