force-app/main/default/flows/Consent_Sub_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Assignee_Portal_Navigation</name>
        <label>Assignee Portal Navigation</label>
        <locationX>528</locationX>
        <locationY>782</locationY>
        <actionName>c:navigateToLoginPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>profileName</name>
            <value>
                <stringValue>Assignee Portal</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToLoginPage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Email_admins_upon_consent_rejection</name>
        <label>Email admins upon consent rejection</label>
        <locationX>396</locationX>
        <locationY>890</locationY>
        <actionName>Consent__c.NotifyAdminsOnRejection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decision_to_check_Profile</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Through_All_Unsigned_Consents.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Consent__c.NotifyAdminsOnRejection</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Login_Page</name>
        <label>Navigate to Login Page</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <actionName>c:navigateToLoginPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>profileName</name>
            <value>
                <stringValue>Client Portal</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToLoginPage</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>ch_IAgree</name>
        <choiceText>I Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I Agree</stringValue>
        </value>
    </choices>
    <choices>
        <name>ch_IDoNotAgree</name>
        <choiceText>I Do Not Agree</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>I Do Not Agree</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DEC_AgreeOrDisagree</name>
        <label>DEC AgreeOrDisagree</label>
        <locationX>594</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Do_Agree_Consent_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>I Agree</defaultConnectorLabel>
        <rules>
            <name>I_do_not_Agree</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_Select_a_Value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ch_IDoNotAgree</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Exit_Login_flow</targetReference>
            </connector>
            <label>I Do Not Agree</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_Profile</name>
        <label>Decision to check Profile</label>
        <locationX>396</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assignee_Portal_Navigation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assignee Portal</defaultConnectorLabel>
        <rules>
            <name>Is_Client_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_All_Unsigned_Consents.User__r.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Navigate_to_Login_Page</targetReference>
            </connector>
            <label>Is Client Portal</label>
        </rules>
    </decisions>
    <description>MP 12/9/24 - initial build from SFL_TestConsentPreferences</description>
    <environments>Default</environments>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Consent Sub-flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Sub-flow</label>
    <loops>
        <name>Loop_Through_All_Unsigned_Consents</name>
        <label>Loop Through All Unsigned Consents</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_consents</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>s1_Consent</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_consents</name>
        <label>Get consents</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Unsigned_Consents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>Get_Consent_IDs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Do_Agree_Consent_Update</name>
        <label>Do Agree Consent Update</label>
        <locationX>792</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Through_All_Unsigned_Consents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Unsigned_Consents.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Actioned__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Signed</stringValue>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Do_Not_Agree_Consent_Update</name>
        <label>Do Not Agree Consent Update</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Email_admins_upon_consent_rejection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Unsigned_Consents.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Actioned__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Signed_Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Exit_Login_flow</name>
        <label>Exit Login flow</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_Not_Agree_Consent_Update</targetReference>
        </connector>
        <fields>
            <name>Exist_Screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.cp_LoginFlow_ConsentRejected}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Through_All_Unsigned_Consents.User__r.Profile.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Client Portal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Exist_Screen_02</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.ap_LoginFlow_ConsentRejected}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Loop_Through_All_Unsigned_Consents.User__r.Profile.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Assignee Portal</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s1_Consent</name>
        <label>s1_Consent</label>
        <locationX>594</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_AgreeOrDisagree</targetReference>
        </connector>
        <fields>
            <name>Welcome_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Welcome {!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Before you can enter the portal, you need to review your consent form(s):&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1_Consent_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Consent_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsentText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Loop_Through_All_Unsigned_Consents.Consent_Form__r.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Loop_Through_All_Unsigned_Consents.Consent_Form__r.Consent_Form_Text__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Please_Select_a_Value</name>
            <choiceReferences>ch_IAgree</choiceReferences>
            <choiceReferences>ch_IDoNotAgree</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please Select a Value</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>s1_Consent_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Consent_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <dataType>String</dataType>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Consent_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>todayDate</elementReference>
                    </defaultValue>
                    <fieldText>Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Consent_IDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SiteConsent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <transforms>
        <name>Get_Consent_IDs</name>
        <label>Get Consent IDs</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_consents</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ConsentCollection[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ConsentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>var_ConsentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
</Flow>
