force-app/main/default/flows/ConsentForm_SCR_CreateConsent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Assignee_Portal_Users_in_List</name>
        <label>Assign Assignee Portal Users in List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_Selected_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Individual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_Selected_Users.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consentForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfConsent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentSinglerec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectiontostoreUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentSinglerec.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Internal_Andersen_Users_in_List</name>
        <label>Assign Internal Andersen Users in List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consentNameForInternalUser</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfConsent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentSinglerec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectiontostoreUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentSinglerec.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Users_in_List</name>
        <label>Assign Client Portal Users in List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_Selected_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_Selected_Users.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>consentForm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectionOfConsent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentSinglerec</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CollectiontostoreUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentSinglerec.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentSinglerec</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Selected_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_UserIds_in_List</name>
        <label>Store UserIds in List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>internalUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Selected_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Selected_Users</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_User</name>
        <label>Check User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_on_Selected_Users</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Selected_Users.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Users_in_List</targetReference>
            </connector>
            <label>Client Portal</label>
        </rules>
        <rules>
            <name>Assignee_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Selected_Users.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assignee Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assignee_Portal_Users_in_List</targetReference>
            </connector>
            <label>Assignee Portal</label>
        </rules>
        <rules>
            <name>Internal_User</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Selected_Users.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal Andersen User</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_on_Selected_Users.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InternalUserSSO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_UserIds_in_List</targetReference>
            </connector>
            <label>Internal User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_List</name>
        <label>Decision to Check List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Exist_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CollectionOfConsent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CollectionOfConsent</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Consents_Status</targetReference>
            </connector>
            <label>Is Exist Consent?</label>
        </rules>
    </decisions>
    <description>Enables Admin to be able create bulk consent.</description>
    <environments>Default</environments>
    <formulas>
        <name>consentForm</name>
        <dataType>String</dataType>
        <expression>{!loop_on_Selected_Users.FirstName} + &quot; &quot; + {!loop_on_Selected_Users.LastName} + &quot; &quot; + {!Get_Consent_Form.Name}</expression>
    </formulas>
    <formulas>
        <name>consentNameForInternalUser</name>
        <dataType>String</dataType>
        <expression>{!Loop_through_Contacts.User__r.FirstName}+ &quot; &quot; + {!Loop_through_Contacts.User__r.LastName} + &quot; &quot; + {!Get_Consent_Form.Name}</expression>
    </formulas>
    <interviewLabel>ConsentForm_SCR_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConsentForm SCR CreateConsent</label>
    <loops>
        <name>loop_on_Selected_Users</name>
        <label>loop on Selected Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Datatable_For_users.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_User</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Internal_Andersen_Users_in_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_to_Check_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Consent_Records</name>
        <label>Create Consent Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>CollectionOfConsent</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get Triggering Consent Form Record.</description>
        <name>Get_Consent_Form</name>
        <label>Get Consent Form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>In</operator>
            <value>
                <elementReference>internalUserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the Users.</description>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_to_Show_Users</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consents_Status</name>
        <label>Update Consents Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Consent_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>In</operator>
            <value>
                <elementReference>CollectiontostoreUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Consent_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consent_Form.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Throw_Exception</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;{!$Flow.&lt;/span&gt;&lt;span style=&quot;background-color: rgba(255, 198, 0, 0.18); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Fault&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 15px; font-family: Slack-Lato, Slack-Fractions, appleLogo, sans-serif; color: rgb(29, 28, 29);&quot;&gt;Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Show all the Users.</description>
        <name>Screen_to_Show_Users</name>
        <label>Screen to Show Users</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_on_Selected_Users</targetReference>
        </connector>
        <fields>
            <name>Datatable_For_users</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>User</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Users</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4d38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-5564&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Consent_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionOfConsent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>CollectiontostoreUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConsentListforupdateStatus</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>ConsentListForUpdateStatusCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>ConsentSinglerec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>internalUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
