force-app/main/default/flows/CP_AP_Engagement_Assignee_Phone_and_Email_Preference_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Share_Email</name>
        <label>Share Email?</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Share_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesShareEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agree_to_Share_Email__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_EAs_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Share_Phone</name>
        <label>Share Phone?</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSharePhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agree_to_Share_Phone_Number__pc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_EAs_Phone</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CP AP - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP AP - Engagement Assignee Phone and Email Preference After Update</label>
    <loops>
        <name>Loop_Through_EAs_Email</name>
        <label>Loop Through EAs Email</label>
        <locationX>68</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Engagement_Assignee_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_EA_Email</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Share_Phone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_EAs_Phone</name>
        <label>Loop Through EAs Phone</label>
        <locationX>68</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_Engagement_Assignee_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_EA_Phone</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Engagement_Assignee_Record</name>
        <label>Get Engagement Assignee Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Share_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engagement_Assignee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_EA_Email</name>
        <label>Update EA Email</label>
        <locationX>156</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_Through_EAs_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_EAs_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Primary_Email__pc</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement_Assignee__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_EA_Phone</name>
        <label>Update EA Phone</label>
        <locationX>156</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Loop_Through_EAs_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_EAs_Email.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement_Assignee__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Engagement_Assignee_Record</targetReference>
        </connector>
        <filterFormula>({!$Record.RecordType.Name}= &apos;Individual&apos;) &amp;&amp; ((ISCHANGED({!$Record.Primary_Email__pc}))||(ISCHANGED({!$Record.Phone})))</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
