force-app/main/default/flows/CP_Add_New_Mobile_Employees_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Blank_List</name>
        <label>Assign Blank List</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ListofSelctedCheckbox</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>WorkAuthorizationRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofWorkAuthIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ListofWorkAuthIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkbox1</name>
        <label>Assignment For Selected Checkbox1</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tax Return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tax Return</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkbox2</name>
        <label>Assignment For Selected Checkbox2</label>
        <locationX>226</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Consultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkbox3</name>
        <label>Assignment For Selected Checkbox3</label>
        <locationX>226</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certificate of Coverage	</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Certificate of Coverage	</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkbox4</name>
        <label>Assignment For Selected Checkbox4</label>
        <locationX>226</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Engagement_Assignee_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkboxes3</name>
        <label>Assignment For Selected Checkboxes3</label>
        <locationX>666</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certificate of Coverage	</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certificate of Coverage	</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkboxes4</name>
        <label>Assignment For Selected Checkboxes4</label>
        <locationX>666</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Engagement_Assignee_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selectedcheckboxes</name>
        <label>Assignment For Selectedcheckboxes</label>
        <locationX>666</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelctedCheckbox</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Type</name>
        <label>Assignment of Type</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TypeofELI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Engagement_Line_Items.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Engagement_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Work_Authorization_Record_in_List</name>
        <label>Assignment Of Work Authorization Record in List</label>
        <locationX>50</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>Get_Work_Authorization_Records.SelectedCheckbox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ListofSelectedCheckboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofWorkAuthCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Authorization_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_For_Add_new_Engagement_Assignee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Work_Authorization_Records</name>
        <label>Assignment Of Work Authorization Records</label>
        <locationX>138</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>ListofWorkAuthIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Created_Work_Authorization_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Created_Work_Authorization_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_WorkAuthorization_Record</name>
        <label>Assignment Of WorkAuthorization Record</label>
        <locationX>534</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relocation_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Originating_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Engagement_Assignee_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Other_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_WorkAuthorization_Record_in_List</name>
        <label>Assignment of WorkAuthorization Record in List</label>
        <locationX>798</locationX>
        <locationY>3254</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relocation_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Originating_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Engagement_Assignee_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationRecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Add_new_Employeee</name>
        <choiceText>Add another mobile employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Add another mobile employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>FInish</name>
        <choiceText>No additional mobile employees to be added</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No additional employees</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Either_One_of_Service_Request_Exist_or_Not</name>
        <label>Check Either One of Service Request Exist or Not</label>
        <locationX>446</locationX>
        <locationY>3530</locationY>
        <defaultConnector>
            <targetReference>Decision_For_Add_new_Engagement_Assignee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Service_Request_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkAuthorizationRecordCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Authorization_Record</targetReference>
            </connector>
            <label>Is Service Request Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox1</name>
        <label>Check Service Request Checkbox1</label>
        <locationX>446</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Check_Service_Request_Checkbox2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equals_to_Tax_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tax_Return</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_For_Selected_Checkbox1</targetReference>
            </connector>
            <label>Is Checkbox equals to Tax Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox2</name>
        <label>Check Service Request Checkbox2</label>
        <locationX>446</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Selectedcheckboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_Consultation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListofSelectedCheckboxes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assignment_For_Selected_Checkbox2</targetReference>
            </connector>
            <label>Is Checkbox equal to Consultation</label>
        </rules>
        <rules>
            <name>Is_Checkbox_not_equal_to_Consultation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Service_Request_Checkbox3</targetReference>
            </connector>
            <label>Is Checkbox not equal to Consultation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox3</name>
        <label>Check Service Request Checkbox3</label>
        <locationX>446</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Selected_Checkboxes3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_Certificate_of_Coverage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListofSelectedCheckboxes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assignment_For_Selected_Checkbox3</targetReference>
            </connector>
            <label>Is Checkbox equal to Certificate of Coverage</label>
        </rules>
        <rules>
            <name>Is_Checkbox_not_equal_to_certificate_of_coverage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Service_Request_Checkbox4</targetReference>
            </connector>
            <label>Is Checkbox not equal to certificate of coverage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox4</name>
        <label>Check Service Request Checkbox4</label>
        <locationX>446</locationX>
        <locationY>1958</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Selected_Checkboxes4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListofSelectedCheckboxes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assignment_For_Selected_Checkbox4</targetReference>
            </connector>
            <label>Is Checkbox equal to other</label>
        </rules>
        <rules>
            <name>Is_Checkbox_not_equal_to_other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Engagement_Assignee_Record</targetReference>
            </connector>
            <label>Is Checkbox not equal to other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_Add_new_Engagement_Assignee</name>
        <label>Decision For Add new Engagement Assignee</label>
        <locationX>446</locationX>
        <locationY>4346</locationY>
        <defaultConnector>
            <targetReference>Screen_to_Show_Summary</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FInish Flow</defaultConnectorLabel>
        <rules>
            <name>Do_you_want_to_Add_new_Engagement_Assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_New_Employee_Assignee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Add_new_Employeee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_Blank_List</targetReference>
            </connector>
            <label>Do you want to Add new Engagement Assignee?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_For_selected_Option_of_Other</name>
        <label>Decision For selected Option of Other</label>
        <locationX>666</locationX>
        <locationY>3146</locationY>
        <defaultConnector>
            <targetReference>Assignment_of_WorkAuthorization_Record_in_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Checkbox other than Other</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Checkbox_Is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Selected_Checkboxes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Of_WorkAuthorization_Record</targetReference>
            </connector>
            <label>Is Selected Checkbox Is Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_Engagement_Line_Item_contains_Type_or_Not</name>
        <label>Decision to Check Engagement Line Item contains Type or Not?</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Engagement_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Engagement_Line_Items.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeofELI</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_On_Engagement_Line_Items.Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Type</targetReference>
            </connector>
            <label>Is Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_file_Upload_or_Not</name>
        <label>Decision to Check file Upload or Not?</label>
        <locationX>446</locationX>
        <locationY>2474</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Found</defaultConnectorLabel>
        <rules>
            <name>Is_File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>File_Upload_Componenet.contentDocumentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Loop_on_Selected_Checkboxes</targetReference>
            </connector>
            <label>Is File Uploaded</label>
        </rules>
    </decisions>
    <description>JIRA: AGMPB-257</description>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relocation_Country__c</picklistField>
        <picklistObject>Work_Authorization__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CP - Add New Mobile Employees Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP - Add New Mobile Employees Screen Flow</label>
    <loops>
        <name>Loop_On_Created_Work_Authorization_Records</name>
        <label>Loop On Created Work Authorization Records</label>
        <locationX>50</locationX>
        <locationY>3746</locationY>
        <collectionReference>WorkAuthorizationRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Of_Work_Authorization_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Authorization_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Engagement_Line_Items</name>
        <label>Loop On Engagement Line Items</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Engagement_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_to_Check_Engagement_Line_Item_contains_Type_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Mobile_Employee_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Selected_Checkboxes</name>
        <label>Loop on Selected Checkboxes</label>
        <locationX>446</locationX>
        <locationY>3038</locationY>
        <collectionReference>ListofSelctedCheckbox</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_For_selected_Option_of_Other</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Either_One_of_Service_Request_Exist_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>534</locationX>
        <locationY>2798</locationY>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>File_Upload_Componenet.contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_ACE_File_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ACE_File_Record</name>
        <label>Create ACE-File Record</label>
        <locationX>534</locationX>
        <locationY>2690</locationY>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Engagement_Assignee__c</field>
            <value>
                <elementReference>Create_Engagement_Assignee_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>Get_Content_Document.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>Get_Content_Document.ContentSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Type__c</field>
            <value>
                <elementReference>Get_Content_Document.FileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Date__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_By__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>ace_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Engagement_Assignee_Record</name>
        <label>Create Engagement Assignee Record</label>
        <locationX>446</locationX>
        <locationY>2258</locationY>
        <connector>
            <targetReference>Engagement_Assignee_FIle_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Assignment_Country__c</field>
            <value>
                <elementReference>Relocation_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Departure_Country__c</field>
            <value>
                <elementReference>Originating_Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Mobile_Employee_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engagements__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Mobile_Employee_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Mobile_Employee_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_Number__c</field>
            <value>
                <elementReference>Mobile_Employee_Phone_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Andersen Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Engagement_Assignee__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Authorization_Record</name>
        <label>Create Work Authorization Record</label>
        <locationX>50</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>Loop_On_Created_Work_Authorization_Records</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputReference>WorkAuthorizationRecordCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>534</locationX>
        <locationY>2582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ACE_File_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>File_Upload_Componenet.contentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_Line_Items</name>
        <label>Get Engagement Line Items</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Engagement_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Visibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engagement_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Engagement_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work_Authorization__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In_Scope</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Authorization_Records</name>
        <label>Get Work Authorization Records</label>
        <locationX>50</locationX>
        <locationY>4046</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_Work_Authorization_Record_in_List</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListofWorkAuthIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Mobile_Employee_Screen</name>
        <label>Add Mobile Employee Screen</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Service_Request_Checkbox1</targetReference>
        </connector>
        <fields>
            <name>Text_Variable</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Add New Mobile Employee to {!recordId.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Mobile_Employee_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Employee_First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile Employee First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Employee_Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Mobile Employee Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Mobile_Employee_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Employee_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Employee Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mobile_Employee_Phone_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Employee Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Enter the full phone number in local format, starting with the country code (e.g., +49 151 12345678).</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Mobile_Employee_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Originating_Country</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Originating Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relocation_Country</name>
                    <choiceReferences>Country</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Relocation Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Request_Description</name>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeofELI</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Services</name>
            <fieldText>&lt;p&gt;Select Services to Add to the Mobile Employee&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeofELI</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Add_Mobile_Employee_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Mobile_Employee_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Return</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Tax Return</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select at least one checkbox.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Tax Return</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Consultation</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Consultation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select at least one checkbox.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Consultation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Certificate_of_Coverage</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Certificate of Coverage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select at least one checkbox.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Certificate of Coverage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please select at least one checkbox.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Service</name>
                    <dataType>String</dataType>
                    <fieldText>Other Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Engagement_Assignee_FIle_Screen</name>
        <label>Engagement Assignee FIle Screen</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_to_Check_file_Upload_or_Not</targetReference>
        </connector>
        <fields>
            <name>File_Upload_Componenet</name>
            <extensionName>c:fileUploadComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;p&gt;  &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_New_Employee_Assignee</name>
            <choiceReferences>Add_new_Employeee</choiceReferences>
            <choiceReferences>FInish</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select option to add another mobile employee or complete this request.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Show_Summary</name>
        <label>Screen to Show Summary</label>
        <locationX>578</locationX>
        <locationY>4454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Summary_screen</name>
                <fieldText>&lt;p&gt;&lt;strong&gt;Mobile Employee Name : &lt;/strong&gt;{!ListofWorkAuthCollection[$EachItem].Engagement_Assignee__r.Name}  &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Relocation country :  &lt;/strong&gt;                           &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].Relocation_Country_Name__c}&lt;/span&gt;   &lt;/p&gt;&lt;p&gt;&lt;strong&gt;Originating Country : &lt;/strong&gt;{!ListofWorkAuthCollection[$EachItem].Originating_Country_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Service requested : &lt;/strong&gt;{!ListofWorkAuthCollection[$EachItem].SelectedCheckbox__c}&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>ListofWorkAuthCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Throw_Exception</name>
        <label>Throw_Exception</label>
        <locationX>1590</locationX>
        <locationY>2366</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Throw_Error</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Blank_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ListofSelctedCheckbox</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofSelectedCheckboxes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofWorkAuthCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
    <variables>
        <name>ListofWorkAuthIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Engagement__c</objectType>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeofELI</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkAuthorizationRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
    <variables>
        <name>WorkAuthorizationRecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
</Flow>
