force-app/main/default/flows/CP_Client_Review_Request_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_Home_Page</name>
        <label>Navigate to Home Page</label>
        <locationX>1370</locationX>
        <locationY>806</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <choices>
        <name>toggle</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>toggle2</name>
        <choiceText>Deny</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deny</stringValue>
        </value>
    </choices>
    <choices>
        <name>toggle3</name>
        <choiceText>Ask a Clarifying Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ask a Clarifying Question</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Work_Authorization_Record</name>
        <label>Check Work Authorization Record</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Navigate_to_Home_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Information_Request_type_is_Review_Out_of_Scope_Question_Response</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Out of Scope Question Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toggle_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toggle3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Authorization_Records</targetReference>
            </connector>
            <label>If Selected Radiobutton is Ask a Clarifying Question</label>
        </rules>
        <rules>
            <name>Is_Selected_Radiobutton_is_Ask_a_Clarifying_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Toggle_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toggle3</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Out of Scope Authorization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action Required</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Work_Authorization_Record_Update</targetReference>
            </connector>
            <label>Is Selected Radiobutton is Ask a Clarifying Question</label>
        </rules>
        <rules>
            <name>Is_Selected_radiobutton_is_Approved_by_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Out of Scope Question Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toggle_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toggle</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Auth_Rec_in_Approve_Cond</targetReference>
            </connector>
            <label>Is Selected radiobutton is Approved by Client</label>
        </rules>
        <rules>
            <name>Is_selected_Radiobutton_is_Deny</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Out of Scope Question Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toggle_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toggle2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Auth_rec_in_Deny_Cond</targetReference>
            </connector>
            <label>Is selected Radiobutton is Deny</label>
        </rules>
        <rules>
            <name>Is_Selected_Checkbox_is_Deny_And_Approve</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review Out of Scope Authorization</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Action Required</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toggle_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toggle</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Toggle_Button</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>toggle2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Work_Authorization_For_Out_of_Scope_Type</targetReference>
            </connector>
            <label>Is Selected Checkbox is Deny And Approve</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-300</description>
    <environments>Default</environments>
    <interviewLabel>CP - {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CP - Client Review Request Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Authorization_Record</name>
        <label>Get Work Authorization Record</label>
        <locationX>1370</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_to_show_DataTable_of_Work_Authorization</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Authorization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Information_Request_Record</name>
        <label>Update Information Request Record</label>
        <locationX>1370</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>Navigate_to_Home_Page</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Auth_Rec_in_Approve_Cond</name>
        <label>Update Work Auth Rec in Approve Cond</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Information_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Authorization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Request_for_Clarification__c</field>
            <value>
                <elementReference>Client_Request_for_Clarification_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Approved by Client</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Authorization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Auth_rec_in_Deny_Cond</name>
        <label>Update Work Auth rec in Deny Cond</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Information_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Authorization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Request_for_Clarification__c</field>
            <value>
                <elementReference>Client_Request_for_Clarification_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Declined by Client</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Authorization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Authorization_For_Out_of_Scope_Type</name>
        <label>Update Work Authorization For Out of Scope Type</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Information_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Authorization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Request_for_Clarification__c</field>
            <value>
                <elementReference>Client_Request_for_Clarification_11</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Authorization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Authorization_Records</name>
        <label>Update Work Authorization Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Information_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Authorization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Authorization_Response__c</field>
            <value>
                <stringValue>Pending Request for Clarification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Request_for_Clarification__c</field>
            <value>
                <elementReference>Client_Request_for_Clarification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Clarifying Question</stringValue>
            </value>
        </inputAssignments>
        <object>Work_Authorization__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Work_Authorization_Record_Update</name>
        <label>Work Authorization Record Update</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Information_Request_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_For_Throw_exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Authorization__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Authorization_Response__c</field>
            <value>
                <stringValue>Pending Request for Clarification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Request_for_Clarification__c</field>
            <value>
                <elementReference>Client_Request_for_Clarification</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Authorization__c</object>
    </recordUpdates>
    <screens>
        <name>Screen_For_Throw_exception</name>
        <label>Screen For Throw exception</label>
        <locationX>3218</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Throw_Exception</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_to_show_DataTable_of_Work_Authorization</name>
        <label>Screen to show DataTable of Work Authorization</label>
        <locationX>1370</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Work_Authorization_Record</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;New Out of Scope Additional Service Request&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please review the out of scope request in the table below and respond below by agreeing, denying, or asking a clarifying question to Andersen regarding this request.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Review Out of Scope Authorization</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Action Required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Review Out of Scope Additional Service Request&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please review the response to your clarifying question and approve or deny the out of scope request&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Review Out of Scope Question Response</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Action Required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Authorization__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Work_Authorization_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6dbc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Authorization Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Engagement_Name__c&quot;,&quot;guid&quot;:&quot;column-3e53&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Engagement Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Service_Requested__c&quot;,&quot;guid&quot;:&quot;column-97e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Service Requested&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Client_Amount__c&quot;,&quot;guid&quot;:&quot;column-2a79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Client Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Note_to_Client__c&quot;,&quot;guid&quot;:&quot;column-d7d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Note to Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Review Out of Scope Authorization</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue> Action Required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Data_table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Authorization__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Work_Authorization_Record</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6c5a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Work Authorization Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Engagement_Name__c&quot;,&quot;guid&quot;:&quot;column-0c4d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Engagement Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Service_Requested__c&quot;,&quot;guid&quot;:&quot;column-0766&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Service Requested&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Client_Amount__c&quot;,&quot;guid&quot;:&quot;column-4d76&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Client Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Client_Request_for_Clarification__c&quot;,&quot;guid&quot;:&quot;column-ab38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Client Request for Clarification&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Response_to_Client__c&quot;,&quot;guid&quot;:&quot;column-a780&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Response to Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Review Out of Scope Question Response</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>recordId.Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Action Required</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Space</name>
            <fieldText>&lt;p&gt;                     &lt;/p&gt;&lt;p&gt;                      &lt;/p&gt;&lt;p&gt;  &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Toggle_Button</name>
            <choiceReferences>toggle</choiceReferences>
            <choiceReferences>toggle2</choiceReferences>
            <choiceReferences>toggle3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Please select a response:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_Request_for_Clarification</name>
            <fieldText>Client Request for Clarification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Toggle_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>toggle3</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Client_Request_for_Clarification_11</name>
            <fieldText>Client Request for Clarification</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Toggle_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>toggle</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Toggle_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>toggle2</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Authorization_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Information_Request__c</objectType>
    </variables>
</Flow>
