force-app/main/default/flows/CP_Client_Login_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assign Consent Records to Collection</description>
        <name>Assign_Consent_Records</name>
        <label>Assign Consent Records</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>NewConsents</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Open_Consent_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getLoginHistoryCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Login_History_of_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_s_First_Login</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>dd_mm_yyyy</name>
        <choiceText>dd/mm/yyyy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>dd/mm/yyyy</stringValue>
        </value>
    </choices>
    <choices>
        <name>mm_dd_yyyy</name>
        <choiceText>mm/dd/yyyy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mm/dd/yyyy</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_1</name>
        <choiceText>Option 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Option 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_Hour_Clock</name>
        <choiceText>12 Hour Clock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 Hour Clock</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Apostrophe_for_thousands_period_for_decimals</name>
        <choiceText>1&apos;234&apos;567.89 (Apostrophe for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1&apos;234&apos;567.89 (Apostrophe for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Comma_for_thousands_period_for_decimals</name>
        <choiceText>1,234,567.89 (Comma for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1,234,567.89 (Comma for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Period_for_thousands_comma_for_decimals</name>
        <choiceText>1.234.567,89 (Period for thousands, comma for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1.234.567,89 (Period for thousands, comma for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_234_567_89_Space_for_thousands_period_for_decimals</name>
        <choiceText>1 234 567.89 (Space for thousands, period for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1 234 567.89 (Space for thousands, period for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>X24_Hour_Clock</name>
        <choiceText>24 Hour Clock</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>24 Hour Clock</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_294_967_295_000_Space_for_thousands_comma_for_decimals</name>
        <choiceText>4 294 967 295,000  (Space for thousands, comma for decimals)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 294 967 295,000  (Space for thousands, comma for decimals)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>yyyy_mm_dd</name>
        <choiceText>yyyy/mm/dd</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yyyy/mm/dd</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Have_They_Agreed_to_Newest_Consent_Forms</name>
        <label>Have They Agreed to Newest Consent Forms?</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_HaveNotAgreedToNewestConsent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Consent_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Sub_flow</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_s_First_Login</name>
        <label>User&apos;s First Login?</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Have_They_Agreed_to_Newest_Consent_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_FirstLogin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.First_Login__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Sub_flow_FirstLogin</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CP - Client Login Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP - Client Login Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Once Criteria to match record to corresponding portal user has been determined, need to update Get Filter</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Login_History_of_User</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4)</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Login_History_of_User</name>
        <label>Get Login History of User</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Consent_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoginHistory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Consent_Records</name>
        <label>Get Open Consent Records</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Consent_Records</targetReference>
        </connector>
        <filterLogic>2 AND 3 AND (4 OR 1)</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Wet_Signed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Record</name>
        <label>Update User Record</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Login__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocaleSidKey</field>
            <value>
                <elementReference>AP_Login_flow_locale_selector.selectedLocale</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Name__c</field>
            <value>
                <elementReference>What_name_would_you_like_us_to_use_when_addressing_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TimeZoneSidKey</field>
            <value>
                <elementReference>UserVar.TimeZoneSidKey</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Set_Preferences</name>
        <label>Set Preferences</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Update_User_Record</targetReference>
        </connector>
        <fields>
            <name>WelcomeName</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Welcome {!$User.FirstName} {!$User.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ProgressBarHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Before you can enter the portal, you need to set your preferences:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormattingPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Formatting Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LocaleText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;What is your locale (Language and Country)? It will determine language, location, date and number formatting.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AP_Login_flow_locale_selector</name>
            <extensionName>c:localeSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedLocale</name>
                <value>
                    <elementReference>UserVar.LocaleSidKey</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TimezoneText</name>
            <fieldText>&lt;p&gt;What is your timezone?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>UserVar.TimeZoneSidKey</objectFieldReference>
        </fields>
        <fields>
            <name>PersonalPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Personal Preferences&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_name_would_you_like_us_to_use_when_addressing_you</name>
            <dataType>String</dataType>
            <fieldText>What name would you like us to use when addressing you? i.e. &apos;Hello Bob!&apos; vs &apos;Hello Bob Smith&apos;</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NotificationPreferences</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Notification Preferences&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You will receive notifications at: {!$User.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Consent_Sub_flow</name>
        <label>Consent Sub-flow</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>Consent_Sub_flow</flowName>
        <inputAssignments>
            <name>ConsentCollection</name>
            <value>
                <elementReference>NewConsents</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Consent_Sub_flow_FirstLogin</name>
        <label>Consent Sub-flow</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_Preferences</targetReference>
        </connector>
        <flowName>Consent_Sub_flow</flowName>
        <inputAssignments>
            <name>ConsentCollection</name>
            <value>
                <elementReference>NewConsents</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>getLoginHistoryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>isPasswordURL</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewConsents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>UserVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
