force-app/main/default/flows/CP_FIle_Upload_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>JIRA:AGMPB-249</description>
    <environments>Default</environments>
    <interviewLabel>CP - FIle Upload Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP - FIle Upload Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_ACE_File_Record</name>
        <label>Update ACE File Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>aceFileRecord</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description__c</field>
        </inputAssignments>
        <object>ace_File__c</object>
    </recordUpdates>
    <screens>
        <name>File_Upload_Screen_For_Engagement_Assignee</name>
        <label>File Upload Screen For Engagement Assignee</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_ACE_File_Record</targetReference>
        </connector>
        <fields>
            <name>File_Upload_Componenet</name>
            <extensionName>c:fileUploadComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>File_Upload_Screen_For_Engagement_Assignee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aceFileRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
