force-app/main/default/flows/CP_Tax_Payment_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Navigate_To_Home_Page</name>
        <label>Navigate To Home Page</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Navigate_To_Home_Page</name>
        <label>Navigate To Home Page</label>
        <locationX>666</locationX>
        <locationY>3374</locationY>
        <actionName>c:NavigateToHomePage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:NavigateToHomePage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Add_Work_Record_Document_to_Collection</name>
        <label>Add Work Record Document to Collection</label>
        <locationX>490</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>WRDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Record_Document</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Tax_Payment_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Work_Record_Documents_to_Collection</name>
        <label>Add Work Record Documents to Collection</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>WRDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Work_Record_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Work_Record_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_WRD_to_Display_Collection</name>
        <label>Assign Current WRD to Display Collection</label>
        <locationX>886</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>DisplayWRDCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Record_Screen_Updates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Record_Id_Collection</name>
        <label>Assign Work Record Id</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>WRidCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Information_Requests.Work_Record__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Information_Requests</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_7</name>
        <label>Assignment WR</label>
        <locationX>754</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>WorkRecordList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Work_Record__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Selected_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Information_Request_in_List</name>
        <label>Assignment of Information Request in List</label>
        <locationX>754</locationX>
        <locationY>2798</locationY>
        <assignmentItems>
            <assignToReference>ListofInformationRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Get_Information_Request.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Get_Information_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_WRD_to_Display_Collection</name>
        <label>Clear WRD to Display Collection</label>
        <locationX>886</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Mobile_Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Mobile_Employee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Work_Record_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Work_Record_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Country_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Country_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Settlement_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Settlement_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Client_Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocSingle.Client_Payment_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Payment_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkRecordDocCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkRecordDocSingle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DisplayWRDCollection</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_WRD_type_is_equalization_Or_Not</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Tax_Payment_Records</name>
        <label>Are There Tax Payment Records?</label>
        <locationX>358</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Equalization_Payment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_TaxPaymentRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WRDCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Tax_Payment_Screen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_recordId_exist_or_not</name>
        <label>check recordId exist or not</label>
        <locationX>666</locationX>
        <locationY>3074</locationY>
        <defaultConnector>
            <targetReference>Update_Information_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_recordId_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_3</targetReference>
            </connector>
            <label>Is recordId exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_WRD_type_is_equalization_Or_Not</name>
        <label>Check WRD type is equalization Or Not</label>
        <locationX>886</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Selected_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Equalization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Selected_Records.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equalization</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_7</targetReference>
            </connector>
            <label>Is Equalization?</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_to_check_Information_Request_Id_in_WorkRecordList</name>
        <label>decision to check Information Request Id in WorkRecordList</label>
        <locationX>886</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Get_Information_Request</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Id_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkRecordList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_on_Get_Information_Request.Work_Record__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_on_Get_Information_Request.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equalization Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Information_Request_in_List</targetReference>
            </connector>
            <label>Is Id exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_Work_Record_Document</name>
        <label>Decision to check Work Record Document</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Work_Record_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_WorkRecord_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WRidCollection</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Through_Work_Record_Ids.Work_Record__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Work_Record_Documents_to_Collection</targetReference>
            </connector>
            <label>Is WorkRecord Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_recordId_Populated</name>
        <label>Is recordId Populated?</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Work_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Is_not_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Information_Requests</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-583</description>
    <environments>Default</environments>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>CP - Tax {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP - Tax Payment Screen Flow</label>
    <loops>
        <name>Loop_on_Get_Information_Request</name>
        <label>Loop on Get Information Request</label>
        <locationX>666</locationX>
        <locationY>2582</locationY>
        <collectionReference>Get_Information_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>decision_to_check_Information_Request_Id_in_WorkRecordList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_recordId_exist_or_not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Information_Requests</name>
        <label>Loop Through Information Requests</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Information_Requests</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Work_Record_Id_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Record_Documents_For_Each_WR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Selected_Records</name>
        <label>Loop Through Selected Records</label>
        <locationX>666</locationX>
        <locationY>1550</locationY>
        <collectionReference>DisplayWRDocument.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_WRD_to_Display_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Summaries_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Work_Record_Ids</name>
        <label>Loop Through Work Record Ids</label>
        <locationX>226</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Work_Record_Documents_For_Each_WR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_to_check_Work_Record_Document</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Are_There_Tax_Payment_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Information_Requests</name>
        <label>Get Information Requests</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Information_Requests</targetReference>
        </connector>
        <filterLogic>(1 OR  4) AND 2 AND 3</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Payment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Action Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equalization Payment</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Information_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Record</name>
        <label>Get Work Record</label>
        <locationX>490</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Record_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Work_Record__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Record_Document</name>
        <label>Get Work Record Document</label>
        <locationX>490</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Work_Record_Document_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Record__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Party_Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Payment_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Record_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Record_Documents_For_Each_WR</name>
        <label>Get Work Record Documents For Each WR</label>
        <locationX>226</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Work_Record_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Record__c</field>
            <operator>In</operator>
            <value>
                <elementReference>WRidCollection</elementReference>
            </value>
        </filters>
        <filters>
            <field>Party_Responsible__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Employer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Client_Payment_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Record_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Information_Request</name>
        <label>Update Information Request</label>
        <locationX>798</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Navigate_To_Home_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_3</name>
        <label>Update Records</label>
        <locationX>534</locationX>
        <locationY>3182</locationY>
        <connector>
            <targetReference>Navigate_To_Home_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListofInformationRequest</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Internal Review</stringValue>
            </value>
        </inputAssignments>
        <object>Information_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Record_Document</name>
        <label>Update Work Record Document</label>
        <locationX>886</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>Clear_WRD_to_Display_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Selected_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Payment_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Payment_Date__c</field>
            <value>
                <elementReference>Client_Payment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Payment_Notes__c</field>
            <value>
                <elementReference>Client_Payment_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Payment_User__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>TODAY</elementReference>
            </value>
        </inputAssignments>
        <object>Work_Record_Document__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Equalization_Payment_Screen</name>
        <label>Equalization Payment Screen</label>
        <locationX>666</locationX>
        <locationY>1442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Selected_Records</targetReference>
        </connector>
        <fields>
            <name>EqualizationPaymentHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Tax Payment&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PTHText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Payment Tracking Hub&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To indicate that you&apos;ve received a refund or made a payment, select the checkbox next to the record of action and click next.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayWRDocument</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Record_Document__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>WRDCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Mobile_Employee__c&quot;,&quot;guid&quot;:&quot;column-8f6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Engagement Assignee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Mobile Employee&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Record_Name__c&quot;,&quot;guid&quot;:&quot;column-5efb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Record Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Type_Formula__c&quot;,&quot;guid&quot;:&quot;column-3d9b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Type&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Type Formula&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Country_Name__c&quot;,&quot;guid&quot;:&quot;column-df21&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Country&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CurrencyIsoCode&quot;,&quot;guid&quot;:&quot;column-5f0d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Currency ISO Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-4f19&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Settlement_Type__c&quot;,&quot;guid&quot;:&quot;column-9d8c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Settlement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_Due__c&quot;,&quot;guid&quot;:&quot;column-84c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Date Due&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Tax_Payment_Screen</name>
        <label>No Tax Payment Screen</label>
        <locationX>50</locationX>
        <locationY>1442</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Navigate_To_Home_Page</targetReference>
        </connector>
        <fields>
            <name>NoRecordText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;There are no payments due at this time.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Record_Screen_Updates</name>
        <label>Record Screen Updates</label>
        <locationX>886</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Update_Work_Record_Document</targetReference>
        </connector>
        <fields>
            <name>SelectedWRDDisplay</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Work_Record_Document__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DisplayWRDCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Mobile_Employee__c&quot;,&quot;guid&quot;:&quot;column-16d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Engagement Assignee&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Mobile Employee&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Work_Record_Name__c&quot;,&quot;guid&quot;:&quot;column-026d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Work Record Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Country_Name__c&quot;,&quot;guid&quot;:&quot;column-59b6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Country&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Country Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount__c&quot;,&quot;guid&quot;:&quot;column-0855&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;CurrencyIsoCode&quot;,&quot;guid&quot;:&quot;column-8854&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Currency&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Currency ISO Code&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Settlement_Type__c&quot;,&quot;guid&quot;:&quot;column-833f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Settlement Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_Due__c&quot;,&quot;guid&quot;:&quot;column-013d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Date Due&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>FieldUpdateTitle</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please populate the following fields&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client_Payment_Date</name>
            <dataType>Date</dataType>
            <fieldText>Settlement Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Client_Payment_Notes</name>
            <fieldText>Settlement Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Summaries_Screen</name>
        <label>Summaries Screen</label>
        <locationX>666</locationX>
        <locationY>2474</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_on_Get_Information_Request</targetReference>
        </connector>
        <fields>
            <name>Summary_screen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Repeater</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Mobile_Employee_Name</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Employee Name: &lt;/strong&gt;{!WorkRecordDocCollection[$EachItem].Mobile_Employee__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Record Name:  &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!WorkRecordDocCollection[$EachItem].Work_Record_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Country: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!WorkRecordDocCollection[$EachItem].Country_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Currency: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!WorkRecordDocCollection[$EachItem].CurrencyIsoCode}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Amount:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!WorkRecordDocCollection[$EachItem].Amount__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Settlement Type:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!WorkRecordDocCollection[$EachItem].Settlement_Type__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Settlement Date: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!WorkRecordDocCollection[$EachItem].Client_Payment_Date__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;﻿Settlement Notes: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!WorkRecordDocCollection[$EachItem].Client_Payment_Notes__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>WorkRecordDocCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_recordId_Populated</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollOfType</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collOfTypeNotEqaulization</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DisplayWRDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>ListofInformationRequest</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Information_Request__c</objectType>
    </variables>
    <variables>
        <name>SelectWRDReminder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workrecCollectionList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>WorkRecordDocCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>WorkRecordDocSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>WorkRecordList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WRDCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Record_Document__c</objectType>
    </variables>
    <variables>
        <name>WRidCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
