force-app/main/default/flows/CP_Work_Authorization_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Record_in_List</name>
        <label>Assign Work Authorization Record in List</label>
        <locationX>1260</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Other_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Originating_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Assignment_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Departure_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Estimated_Assignment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Assignment_Start_new</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Estimated_Assignment_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Assignment_End_Date_new</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationrecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Authorization</name>
        <label>Assign Work Authorization</label>
        <locationX>1524</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Originating_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Departure_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Assignment_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Estimated_Assignment_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Assignment_End_Date_new</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Estimated_Assignment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Assignment_Start_new</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationrecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Authorization_for_Existing_Assignment</name>
        <label>Assign Work Authorization for Existing Assignment</label>
        <locationX>2052</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Originating_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Departure_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Assignment_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Estimated_Assignment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Assignment_Start_new_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationrecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Authorization_in_new_assignment</name>
        <label>Assign Work Authorization in new assignment</label>
        <locationX>996</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Originating_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Departure_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Assignment_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationrecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Authorization_Record_in_List_for_existing_Assignment</name>
        <label>Assign Work Authorization Record in List for existing Assignment</label>
        <locationX>1788</locationX>
        <locationY>3662</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Other_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Originating_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Assignment_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Departure_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Estimated_Assignment_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_Assignment_Start_new_01</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationrecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Work_Authorization_Record_in_List_in_new_assignment</name>
        <label>Assign Work Authorization Record in List in new assignment</label>
        <locationX>732</locationX>
        <locationY>3554</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Service_Requested__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Selected_Checkboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Engagement_Assignee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Request_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Other_service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Relocation_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Originating_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Originating_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Assignment_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationrecordSingle.Departure_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkAuthorizationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkAuthorizationrecordSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkboxes3</name>
        <label>Assignment For Selected Checkboxes3</label>
        <locationX>864</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selected_Checkboxes4</name>
        <label>Assignment For Selected Checkboxes4</label>
        <locationX>864</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_For_Selectedcheckboxes</name>
        <label>Assignment For Selectedcheckboxes</label>
        <locationX>864</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certificate of Coverage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certificate of Coverage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_of_Type</name>
        <label>Assignment of Type</label>
        <locationX>732</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>TypeofELI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Engagement_Line_Items.Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Engagement_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Work_Authorization_Record</name>
        <label>Assignment Of Work Authorization Record</label>
        <locationX>182</locationX>
        <locationY>4730</locationY>
        <assignmentItems>
            <assignToReference>Get_Work_Authorization_Records.SelectedCheckbox__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ListofSelectedCheckboxes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofWorkAuthCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Work_Authorization_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_to_check_Existing_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Work_Authorization_Record_in_List</name>
        <label>Assignment Of Work Authorization Record in List</label>
        <locationX>270</locationX>
        <locationY>4430</locationY>
        <assignmentItems>
            <assignToReference>ListofWorkAuthIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Created_Work_Authorization_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Created_Work_Authorization_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_the_List_according_to_the_checkbox</name>
        <label>Fill the List according to the checkbox1</label>
        <locationX>512</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tax Return</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Tax Return</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_the_List_according_to_the_checkbox2</name>
        <label>Fill the List according to the checkbox2</label>
        <locationX>424</locationX>
        <locationY>2438</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Certificate of Coverage	</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Certificate of Coverage	</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_the_List_according_to_the_checkbox3</name>
        <label>Fill the List according to the checkbox3</label>
        <locationX>424</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Consultation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Consultation</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Service_Request_Checkbox4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_the_List_according_to_the_checkbox4</name>
        <label>Fill the List according to the checkbox4</label>
        <locationX>424</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ListofSelectedCheckboxes</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Selected_Checkboxes</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Existing_Assignment</name>
        <choiceText>Existing Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing Assignment</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_Assignment</name>
        <choiceText>New Assignment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New Assignment</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Assignment_Checkboes</name>
        <label>Check Assignment Checkboes</label>
        <locationX>1260</locationX>
        <locationY>3338</locationY>
        <defaultConnector>
            <targetReference>Check_Mobile_employee_Assignment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Existing Assignment</defaultConnectorLabel>
        <rules>
            <name>Is_New_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Radio_Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>New_Assignment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decison_For_Other_Checkbox_in_new_Assignment</targetReference>
            </connector>
            <label>Is New Assignment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Choices</name>
        <label>Check  Choices</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Assignment</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreentoshowAssignments</targetReference>
            </connector>
            <label>Is Existing Assignment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mobile_employee_Assignment_Type</name>
        <label>Check Mobile employee Assignment Type</label>
        <locationX>1656</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Decison_For_Other_Checkbox_for_different_assigmment_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is type International Transfer</defaultConnectorLabel>
        <rules>
            <name>Is_type_Long_Term_Assignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EngagementAssigneeRecord.Assignment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Long Term Assignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EngagementAssigneeRecord.Assignment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Short Term Assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decison_For_Other_Checkbox</targetReference>
            </connector>
            <label>Is type Long Term Assignment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox1</name>
        <label>Check Service Request Checkbox1</label>
        <locationX>644</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Check_Service_Request_Checkbox2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_Tax_Return</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Tax_Return</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_the_List_according_to_the_checkbox</targetReference>
            </connector>
            <label>Is Checkbox equal to Tax Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox2</name>
        <label>Check Service Request Checkbox2</label>
        <locationX>644</locationX>
        <locationY>2330</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Selectedcheckboxes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_Certificate_of_Coverage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListofSelectedCheckboxes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Fill_the_List_according_to_the_checkbox2</targetReference>
            </connector>
            <label>Is Checkbox equal to Certificate of Coverage</label>
        </rules>
        <rules>
            <name>Is_Checkbox_not_Equals_to_Certificate_of_Coverage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Certificate_of_Coverage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Service_Request_Checkbox3</targetReference>
            </connector>
            <label>Is Checkbox not Equals to Certificate of Coverage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox3</name>
        <label>Check Service Request Checkbox3</label>
        <locationX>644</locationX>
        <locationY>2630</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Selected_Checkboxes3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_Consultation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListofSelectedCheckboxes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Fill_the_List_according_to_the_checkbox3</targetReference>
            </connector>
            <label>Is Checkbox equal to Consultation</label>
        </rules>
        <rules>
            <name>Is_Checkbox_not_equal_to_Consultation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Consultation</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Service_Request_Checkbox4</targetReference>
            </connector>
            <label>Is Checkbox not equal to Consultation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Checkbox4</name>
        <label>Check Service Request Checkbox4</label>
        <locationX>644</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>Assignment_For_Selected_Checkboxes4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Checkbox_equal_to_other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ListofSelectedCheckboxes</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Fill_the_List_according_to_the_checkbox4</targetReference>
            </connector>
            <label>Is Checkbox equal to other</label>
        </rules>
        <rules>
            <name>Is_Checkbox_not_equal_to_other</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Other</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Selected_Checkboxes</targetReference>
            </connector>
            <label>Is Checkbox not equal to other</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Service_Request_Exist_or_Not</name>
        <label>Check Service Request Exist or Not</label>
        <locationX>644</locationX>
        <locationY>4106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Service_Request_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkAuthorizationCollection</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Authorization_Record</targetReference>
            </connector>
            <label>Is Service Request Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_Engagement_Line_Item_contains_Type_or_Not</name>
        <label>Decision to Check Engagement Line Item contains Type or Not?</label>
        <locationX>864</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Loop_On_Engagement_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>1 AND NOT(2)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_Engagement_Line_Items.Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeofELI</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_On_Engagement_Line_Items.Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_of_Type</targetReference>
            </connector>
            <label>Is Null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_check_Existing_Assignment</name>
        <label>Decision to check Existing Assignment</label>
        <locationX>182</locationX>
        <locationY>4838</locationY>
        <defaultConnector>
            <targetReference>Screen_to_Show_Summary_in_New_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is New Assignment</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Assignment_choose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Assignment</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_to_Show_Summary</targetReference>
            </connector>
            <label>Is Existing Assignment choose</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_file_Upload_or_Not</name>
        <label>Decision to Check file Upload or Not?</label>
        <locationX>644</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Get_Content_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File Found</defaultConnectorLabel>
        <rules>
            <name>Is_File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>File_Upload.contentDocumentId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_Service_Request_Checkbox1</targetReference>
            </connector>
            <label>Is File Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decison_For_Other_Checkbox</name>
        <label>Decison For Other Checkbox</label>
        <locationX>1392</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>Assign_Work_Authorization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Checbox other than Other</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Checkbox_is_Other</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Selected_Checkboxes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_in_List</targetReference>
            </connector>
            <label>Is Selected Checkbox is Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decison_For_Other_Checkbox_for_different_assigmment_type</name>
        <label>Decison For Other Checkbox for different assigmment type</label>
        <locationX>1920</locationX>
        <locationY>3554</locationY>
        <defaultConnector>
            <targetReference>Assign_Work_Authorization_for_Existing_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Checbox other than Other</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Checkbox_is_Other_02</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Selected_Checkboxes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Authorization_Record_in_List_for_existing_Assignment</targetReference>
            </connector>
            <label>Is Selected Checkbox is Other?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decison_For_Other_Checkbox_in_new_Assignment</name>
        <label>Decison For Other Checkbox in new Assignment</label>
        <locationX>864</locationX>
        <locationY>3446</locationY>
        <defaultConnector>
            <targetReference>Assign_Work_Authorization_in_new_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Selected Checbox other than Other</defaultConnectorLabel>
        <rules>
            <name>Is_Selected_Checkbox_is_Other_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Selected_Checkboxes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Work_Authorization_Record_in_List_in_new_assignment</targetReference>
            </connector>
            <label>Is Selected Checkbox is Other?</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-272</description>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Originating_Country__c</picklistField>
        <picklistObject>Work_Authorization__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>workRecord</name>
        <collectionReference>Get_work_Records</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Work_Record__c</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>CP - Work Authorization Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CP - Work Authorization Screen Flow</label>
    <loops>
        <name>Loop_On_Created_Work_Authorization_Records</name>
        <label>Loop On Created Work Authorization Records</label>
        <locationX>182</locationX>
        <locationY>4322</locationY>
        <collectionReference>WorkAuthorizationCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_Of_Work_Authorization_Record_in_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Work_Authorization_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Engagement_Line_Items</name>
        <label>Loop On Engagement Line Items</label>
        <locationX>644</locationX>
        <locationY>866</locationY>
        <collectionReference>Get_Engagement_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_to_Check_Engagement_Line_Item_contains_Type_or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>All_Service_Request</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Selected_Checkboxes</name>
        <label>Loop on Selected Checkboxes</label>
        <locationX>644</locationX>
        <locationY>3230</locationY>
        <collectionReference>ListofSelectedCheckboxCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Assignment_Checkboes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Service_Request_Exist_or_Not</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Content_Document_Link</name>
        <label>Content Document Link</label>
        <locationX>732</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Check_Service_Request_Checkbox1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>File_Upload.contentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>Create_ACE_File_Record</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_ACE_File_Record</name>
        <label>Create ACE-File Record</label>
        <locationX>732</locationX>
        <locationY>1682</locationY>
        <connector>
            <targetReference>Content_Document_Link</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Engagement_Assignee__c</field>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Name__c</field>
            <value>
                <elementReference>Get_Content_Document.Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Size__c</field>
            <value>
                <elementReference>Get_Content_Document.ContentSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>File_Type__c</field>
            <value>
                <elementReference>Get_Content_Document.FileType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upload_Date__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Uploaded_By__c</field>
            <value>
                <elementReference>Get_Content_Document.CreatedById</elementReference>
            </value>
        </inputAssignments>
        <object>ace_File__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Authorization_Record</name>
        <label>Create Work Authorization Record</label>
        <locationX>182</locationX>
        <locationY>4214</locationY>
        <connector>
            <targetReference>Loop_On_Created_Work_Authorization_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputReference>WorkAuthorizationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Document</name>
        <label>Get Content Document</label>
        <locationX>732</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ACE_File_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>File_Upload.contentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_Line_Items</name>
        <label>Get Engagement Line Items</label>
        <locationX>644</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Engagement_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Engagements__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Visibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engagement_Line_Item__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>644</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Engagement_Line_Items</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work_Authorization__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In_Scope</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Authorization_Records</name>
        <label>Get Work Authorization Records</label>
        <locationX>182</locationX>
        <locationY>4622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_Work_Authorization_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ListofWorkAuthIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Work_Authorization__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_work_Records</name>
        <label>Get work Records</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_To_Show</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement_Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EngagementAssigneeRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Record__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>All_Service_Request</name>
        <label>All Service Request</label>
        <locationX>644</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_to_Check_file_Upload_or_Not</targetReference>
        </connector>
        <fields>
            <name>Services</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Add New Authorization for &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;{!EngagementAssigneeRecord.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>All_Service_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>All_Service_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkAuthorizationFieldsRecord.Originating_Country__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Assignment</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkAuthorizationFieldsRecord.Departure_Locality__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Assignment</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>All_Service_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkAuthorizationFieldsRecord.Relocation_Country__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Assignment</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>WorkAuthorizationFieldsRecord.Assignment_Locality__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>New_Assignment</leftValueReference>
                            <operator>WasSelected</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Request_Description</name>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeofELI</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Service</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Select Services to Add to the Mobile Employee&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>TypeofELI</leftValueReference>
                    <operator>NotEqualTo</operator>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>All_Service_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>All_Service_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Return</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Tax Return</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Select at least one service from the options.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Tax Return</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Consultation</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Consultation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select at least one service from the options.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Consultation</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Certificate_of_Coverage</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Certificate of Coverage</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select at least one service from the options.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Certificate of Coverage</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Other</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select at least one service from the options.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR({!Tax_Return}, {!Consultation}, {!Certificate_of_Coverage}, {!Other})</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>TypeofELI</leftValueReference>
                            <operator>Contains</operator>
                            <rightValue>
                                <stringValue>Other</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Service</name>
                    <dataType>String</dataType>
                    <fieldText>Other Service</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Other</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>File_Upload</name>
                    <extensionName>c:fileUploadComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_To_Show</name>
        <label>Screen To Show Assignments</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Choices</targetReference>
        </connector>
        <fields>
            <name>MobileEmployeeName</name>
            <fieldText>&lt;p&gt;Mobile Employee: {!EngagementAssigneeRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Radio_Buttons</name>
            <choiceReferences>New_Assignment</choiceReferences>
            <choiceReferences>Existing_Assignment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this related to a new or existing assignment?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Show_Summary</name>
        <label>Screen to Show Summary</label>
        <locationX>50</locationX>
        <locationY>4946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_Content_01</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Employee: {!EngagementAssigneeRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_screen</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Summary</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Work Record Name : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Choose_the_Assignment_to_add_services_to}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Employee Name : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].Engagement_Assignee__r.Name}  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Service requested : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].SelectedCheckbox__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>ListofWorkAuthCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_to_Show_Summary_in_New_Assignment</name>
        <label>Screen to Show Summary in New Assignment</label>
        <locationX>314</locationX>
        <locationY>4946</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Summary_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Summary&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Summary_contant_02</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Employee: {!EngagementAssigneeRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Summary_screen</name>
            <fieldType>Repeater</fieldType>
            <fields>
                <name>Copy_1_of_Summary</name>
                <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Employee Name : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].Engagement_Assignee__r.Name}  &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Departure Country: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].Originating_Country_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Assignment Country: &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].Relocation_Country_Name__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Service requested : &lt;/strong&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!ListofWorkAuthCollection[$EachItem].SelectedCheckbox__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                <fieldType>DisplayText</fieldType>
            </fields>
            <inputParameters>
                <name>collection</name>
                <value>
                    <elementReference>ListofWorkAuthCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canAddItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>canRemoveItem</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreentoshowAssignments</name>
        <label>Screen to show Assignment</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Summary_content</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Mobile Employee: {!EngagementAssigneeRecord.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_the_Assignment_to_add_services_to</name>
            <choiceReferences>workRecord</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose the Assignment to add services to:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ScreentoshowAssignments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ScreentoshowAssignments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Estimated_Assignment_Start_new</name>
                    <dataType>Date</dataType>
                    <fieldText>Estimated Assignment Start</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ScreentoshowAssignments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Estimated_Assignment_End_Date_new</name>
                    <dataType>Date</dataType>
                    <fieldText>Estimated Assignment End Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>EngagementAssigneeRecord.Assignment_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Long Term Assignment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>EngagementAssigneeRecord.Assignment_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Short Term Assignment</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimated_Assignment_Start_new_01</name>
            <dataType>Date</dataType>
            <fieldText>Estimated Assignment Start</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>EngagementAssigneeRecord.Assignment_Type__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>International Transfer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Throw_Exception</name>
        <label>Throw_Exception</label>
        <locationX>842</locationX>
        <locationY>4322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Throw_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_work_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EngagementAssigneeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Engagement_Assignee__c</objectType>
    </variables>
    <variables>
        <name>ListofSelectedCheckboxCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofSelectedCheckboxes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofWorkAuthCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
    <variables>
        <name>ListofWorkAuthIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeofELI</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkAuthorizationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
    <variables>
        <name>WorkAuthorizationFieldsRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
    <variables>
        <name>WorkAuthorizationrecordSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization__c</objectType>
    </variables>
</Flow>
