force-app/main/default/flows/DocumentCenter_SCR_AssigneePortal_UploadFiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>DEC_HasRunningUser</name>
        <label>DEC_HasRunningUser?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoRunningUser</defaultConnectorLabel>
        <rules>
            <name>HasRunningUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_RunningUser.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_Individual</targetReference>
            </connector>
            <label>HasRunningUser</label>
        </rules>
    </decisions>
    <description>Screen flow on the Document Center in the Assignee Portal to upload files.</description>
    <environments>Default</environments>
    <interviewLabel>AssigneePortal_SCR_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DocumentCenter_SCR_AssigneePortal_UploadFiles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_Individual</name>
        <label>GET_Individual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SFL_SCR_FileUpload</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_SCR_FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_RunningUser.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RunningUser</name>
        <label>GET_RunningUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasRunningUser</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_SCR_FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>SCR_InitialScreen</name>
        <label>SCR_InitialScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_RunningUser</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Upload Files</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR_InitialScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>DocumentCenter_SCR_AssigneePortal_UploadFiles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_SCR_FaultMessage</name>
        <label>SFL_SCR_FaultMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SFL_CreateLog</targetReference>
        </connector>
        <flowName>SFL_SCR_FaultMessage</flowName>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_SCR_FileUpload</name>
        <label>SFL_SCR_FileUpload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_SCR_FileUpload</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>GET_Individual.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssigneePortalFlag</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClientPortalFlag</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInternalFlag</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceObjectAPIName</name>
            <value>
                <stringValue>Document_Center</stringValue>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
