force-app/main/default/flows/EngagementGroup_AI_AU_CreateEngagementGroup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Is_Automation_Enabled</name>
        <label>Is Automation Enabled?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AutomationEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Public_Group</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>When Engagement Group is created, automatically creates a corresponding Public Group.</description>
    <environments>Default</environments>
    <formulas>
        <name>PublicGroupName</name>
        <dataType>String</dataType>
        <expression>RIGHT({!$Record.Id}, 8)+ &quot;_&quot; + {!$Record.Name}</expression>
    </formulas>
    <interviewLabel>EngagementGroup_AI_AU_CreateEngagementGroup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EngagementGroup_AI_AU_CreateEngagementGroup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Public_Group</name>
        <label>Create Public Group</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Engagement_Group</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PublicGroupName</elementReference>
            </value>
        </inputAssignments>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_DisableAutomation</name>
        <label>Get DisableAutomation</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Automation_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client_Engagement_Group__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Engagement_Group</name>
        <label>Update Engagement Group</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>GroupId__c</field>
            <value>
                <elementReference>Create_Public_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Group_Provisioned__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DisableAutomation</targetReference>
        </connector>
        <object>Client_Engagement_Group__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
