force-app/main/default/flows/Engagement_SCR_ClientPortal_UploadFiles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <description>Screen flow on Engagement record for use in Client Portal to allow users to upload one or multiple files, created Shared File records, and provide additional information.</description>
    <environments>Default</environments>
    <interviewLabel>Engagement_SCR_ClientPortal_UploadFiles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engagement_SCR_ClientPortal_UploadFiles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_EngagementRecord</name>
        <label>GET_EngagementRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SFL_SCR_FileUpload</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_SCR_FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_EngagementRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>Engagement_SCR_ClientPortal_UploadFiles</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_SCR_FaultMessage</name>
        <label>SFL_SCR_FaultMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SFL_CreateLog</targetReference>
        </connector>
        <flowName>SFL_SCR_FaultMessage</flowName>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_SCR_FileUpload</name>
        <label>SFL_SCR_FileUpload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_SCR_FileUpload</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordName</name>
            <value>
                <elementReference>GET_EngagementRecord.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceObjectAPIName</name>
            <value>
                <stringValue>Engagement__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Engagement__c</objectType>
    </variables>
</Flow>
