force-app/main/default/flows/Engagement_Line_Item_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Name</name>
        <label>Check Name</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Engagement_Line_Item_Name_Formula__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Line_Item</targetReference>
            </connector>
            <label>Change Name</label>
        </rules>
    </decisions>
    <description>JIRA : AGMPB-255</description>
    <environments>Default</environments>
    <formulas>
        <name>engagementLineItemName</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Type__c}) + &quot;(&quot;+{!$Record.Engagement__r.Name}+&quot;)&quot;</expression>
    </formulas>
    <interviewLabel>Engagement Line Item After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Engagement Line Item After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Line_Item</name>
        <label>Update Line Item</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Engagement_Line_Item_Name_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Name</targetReference>
        </connector>
        <object>Engagement_Line_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
