force-app/main/default/flows/MobileEmployee_AI_ShareWithStakeholders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Log_Entry</name>
        <label>Add Log Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>MobileEmployee_AI_ShareWithStakeholders</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>WARN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>We’re unable to retrieve the requested record. It may have been deleted, you might not have access to view it, or an unexpected error occurred. Please try again later or contact your system administrator if the issue continues.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Add_Log_Entry_02</name>
        <label>Add Log Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FlowLogEntry</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Log_02</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>MobileEmployee_AI_ShareWithStakeholders</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loggingLevelName</name>
            <value>
                <stringValue>WARN</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Oops! We couldn’t create your record.Please check the information you entered required fields might be missing or invalid.If the problem persists, contact your system administrator and share this error message.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>saveLog</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>FlowLogEntry</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Log</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Save_Log_02</name>
        <label>Save Log</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Logger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Custom_Error_Message_2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Logger</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <customErrors>
        <name>Custom_Error_Message_2</name>
        <label>Error Message 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Oops! We couldn’t create your record.Please check the information you entered required fields might be missing or invalid.If the problem persists, contact your system administrator and share this error message.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>We’re unable to retrieve the requested record. It may have been deleted, you might not have access to view it, or an unexpected error occurred. Please try again later or contact your system administrator if the issue continues.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Group_Exist</name>
        <label>Check Group Exist</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Engagement_Party_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Is_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Group</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Group</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mobile_Employee_Share_Record</targetReference>
            </connector>
            <label>Is Exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_Already_Share_Record_exist_or_Not</name>
        <label>Decision to Check Already Share Record exist or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Records_of_Mobile_Employee_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mobile Employee share Doesn&apos;t exist?</defaultConnectorLabel>
        <rules>
            <name>Mobile_Employee_share_exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mobile_Employee_Share_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Mobile_Employee_Share_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement_Party_Record</targetReference>
            </connector>
            <label>Mobile Employee share exist?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_Engagement_Party</name>
        <label>Decision to Check Engagement Party</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Engagement Party Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Is_Exist_Engagement_Party</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Engagement_Party_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement_Party_Record</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Engagement_Party_Record.User__r.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mobile_Employee_Share_Rec</targetReference>
            </connector>
            <label>Is Exist Engagement Party?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_to_Check_Mobile_Share_Rec_Exist_or_Not</name>
        <label>Decision to Check Mobile Share Rec Exist or Not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Share_Rec</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Rec_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mobile_Employee_Share_Rec</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Mobile_Employee_Share_Rec</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Rec Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Automation_Enabled</name>
        <label>Is Automation Enabled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_AutomationEnabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Group</targetReference>
            </connector>
            <label>Yes_AutomationEnabled</label>
        </rules>
    </decisions>
    <description>This Flow used to automatically shares newly created Mobile Employee records (ME) with the coordinating country’s public group and all client users on the Engagement, granting Read access with EngagementStakeholder as the row cause.</description>
    <environments>Default</environments>
    <interviewLabel>MobileEmployee_AI_ShareWithStakeholders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MobileEmployee_AI_ShareWithStakeholders</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Records_of_Mobile_Employee_Share</name>
        <label>Create Records of Mobile Employee Share</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Engagement_Party_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Log_Entry_02</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Engagements__r.Client__r.Partner_Account__r.RelatedGroupId__c</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement_Assignee__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Share_Rec</name>
        <label>Create Share Rec</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry_02</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RowCause</field>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_Engagement_Party_Record.User__c</elementReference>
            </value>
        </inputAssignments>
        <object>Engagement_Assignee__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_DisableAutomation</name>
        <label>Get DisableAutomation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Automation_Enabled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Add_Log_Entry</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement_Assignee__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Engagement_Party_Record</name>
        <label>Get Engagement Party Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_Check_Engagement_Party</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry</targetReference>
        </faultConnector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagements__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement_Party__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Group_Exist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Engagements__r.Client__r.Partner_Account__r.RelatedGroupId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mobile_Employee_Share_Rec</name>
        <label>Get Mobile Employee Share Rec</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_Check_Mobile_Share_Rec_Exist_or_Not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Engagement_Party_Record.User__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement_Assignee__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mobile_Employee_Share_Record</name>
        <label>Get Mobile Employee Share Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_Check_Already_Share_Record_exist_or_Not</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_Log_Entry</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement_Assignee__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DisableAutomation</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Engagements__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Engagements__c</field>
            <operator>IsNull</operator>
        </filters>
        <object>Engagement_Assignee__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
