force-app/main/default/flows/SFL_AssessNewAceFileShareRowsToCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountAceShareFileRecordsToCreate</name>
        <label>Assign_CountAceShareFileRecordsToCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountAceShareFileRecordsToCreate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAceShareFileRecords</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CountExistingMatchingShareRows</name>
        <label>Assign_CountExistingMatchingShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingMatchingShareRows</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FILTER_ExistingMatchingShareRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasExistingMatchingShareRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NewShareRecord</name>
        <label>Assign_NewShareRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAceFileShareRecord.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRecord.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRecord.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.RowCause</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRecord.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.AccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceShareFileRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAceFileShareRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ResetCount</name>
        <label>Assign_ResetCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingMatchingShareRows</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FILTER_ExistingMatchingShareRow</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FILTER_ExistingMatchingShareRow</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FILTER_ExistingMatchingShareRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FILTER_ExistingMatchingShareRow</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varExistingSharedFileShareRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.RowCause</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.RowCause</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.AccessLevel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.AccessLevel</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.UserOrGroupId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.UserOrGroupId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_CountExistingMatchingShareRows</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>DEC_HasExistingMatchingShareRow</name>
        <label>DEC_HasExistingMatchingShareRow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_NewShareRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoExistingMatchingShareRow</defaultConnectorLabel>
        <rules>
            <name>HasExistingMatchingShareRow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountExistingMatchingShareRows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_CheckExistingAgainstPotentialShareRows</targetReference>
            </connector>
            <label>HasExistingMatchingShareRow</label>
        </rules>
    </decisions>
    <description>Subflow to check if existing Share File (Ace File) Share records matches ones that are to be created. If one already exists, do nothing. If it does not, assign the values to a Share record variable and then to a collection to then create Share records as needed.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_AssessNewAceFileShareRowsToCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_AssessNewAceFileShareRowsToCreate</label>
    <loops>
        <name>LOOP_CheckExistingAgainstPotentialShareRows</name>
        <label>LOOP_CheckExistingAgainstPotentialShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varPotentialAceShareRowRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ResetCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CountAceShareFileRecordsToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FILTER_ExistingMatchingShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <name>varAceFileShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varAceShareFileRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varCountAceShareFileRecordsToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountExistingMatchingShareRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExistingSharedFileShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varPotentialAceShareRowRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
</Flow>
