force-app/main/default/flows/SFL_AssessAceFileShareRowsToDelete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountAceShareFileRecordsToDelete</name>
        <label>Assign_CountAceShareFileRecordsToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountAceShareFileRecordsToDelete</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAceShareFileRecordsToDelete</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_CountExistingMatchingShareRows</name>
        <label>Assign_CountExistingMatchingShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingMatchingShareRows</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FILTER_ExistingMatchingShareRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasExistingMatchingShareRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ResetCount</name>
        <label>Assign_ResetCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingMatchingShareRows</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FILTER_ExistingMatchingShareRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ShareRecordToDelete</name>
        <label>Assign_ShareRecordToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAceShareFileRecordsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FILTER_ExistingMatchingShareRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRowsToDelete</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FILTER_ExistingMatchingShareRow</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FILTER_ExistingMatchingShareRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FILTER_ExistingMatchingShareRow</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varExistingSharedFileShareRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.RowCause</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRowsToDelete.RowCause</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.AccessLevel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRowsToDelete.AccessLevel</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.UserOrGroupId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRowsToDelete.UserOrGroupId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_CountExistingMatchingShareRows</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>DEC_HasExistingMatchingShareRow</name>
        <label>DEC_HasExistingMatchingShareRow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRowsToDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoExistingMatchingShareRow</defaultConnectorLabel>
        <rules>
            <name>HasExistingMatchingShareRow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountExistingMatchingShareRows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ShareRecordToDelete</targetReference>
            </connector>
            <label>HasExistingMatchingShareRow</label>
        </rules>
    </decisions>
    <description>Subflow to check if existing Share File (Ace File) Share records matches ones that are to be deleted. If matching row does not exist, do nothing. If it does not, assign the values to a Share record variable and then to a collection to then delete Share records as needed.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_AssessAceFileShareRowsToDelete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_AssessAceFileShareRowsToDelete</label>
    <loops>
        <name>LOOP_CheckExistingAgainstPotentialShareRowsToDelete</name>
        <label>LOOP_CheckExistingAgainstPotentialShareRowsToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varPotentialDeleteAceShareRowRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ResetCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CountAceShareFileRecordsToDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRowsToDelete</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FILTER_ExistingMatchingShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <name>varAceFileShareRecordToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varAceShareFileRecordsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varCountAceShareFileRecordsToDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountExistingMatchingShareRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExistingSharedFileShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varPotentialDeleteAceShareRowRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
</Flow>
