force-app/main/default/flows/SFL_SCR_FileUpload_AdditionalInformation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_ClearRecordVariable</name>
        <label>Assign_ClearRecordVariable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSharedFileRecord</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SFL_DeleteCDAndSharedFile.Results.varSuccessFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOriginFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SCR_EngagementShareFileUpdates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountDeletedFiles</name>
        <label>Assign_CountDeletedFiles</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountDeletedFiles</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IncrementCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountryList</name>
        <label>Assign_CountryList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountryList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LOOP_BuildListOfCountries.Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountCountryCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_BuildListOfCountries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountSharedFileRecords</name>
        <label>Assign_CountSharedFileRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountSharedFileRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_SharedFileRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasSharedFileRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountSubscribedOffices</name>
        <label>Assign_CountSubscribedOffices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountSubscribedOffices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_SubscribedOfficeCountries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasSubscribedOffices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns updates provided by the user in the prior screen.</description>
        <name>Assign_EngagementSharedFileUpdates</name>
        <label>Assign_EngagementSharedFileUpdates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSharedFileRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_AssignSharedFileUpdates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Subscribed_Office__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFL_GetSubscribedOfficeFromCountry.varSubscribedOfficeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Internal_Visibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Visibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Tax_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_AssignSharedFileUpdates.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Other_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSharedFileRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IncrementCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns updates provided by the user in the prior screen.</description>
        <name>Assign_EngagementSharedFileUpdates_NoCountry</name>
        <label>Assign_EngagementSharedFileUpdates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSharedFileRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_AssignSharedFileUpdates</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.File_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FileName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Country__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Internal_Visibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_Visibility</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Tax_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_AssignSharedFileUpdates.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileRecord.Other_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSharedFileUpdateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSharedFileRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_IncrementCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IncrementCount</name>
        <label>Assign_IncrementCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varIncrementCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_AssignSharedFileUpdates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_KeyCollection</name>
        <label>Assign_KeyCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varKeyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>formulaKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_BuildKeyList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SubscribedOfficesVariable</name>
        <label>Assign_SubscribedOfficesVariable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSubscribedOffices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SFL_GetSubscribedOfficesForMobileEmployee.varSubscribedOffices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LOOP_BuildListOfCountries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SubscribedOfficesVariable_Engagement</name>
        <label>Assign_SubscribedOfficesVariable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSubscribedOffices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_SubscribedOfficeCountries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_BuildListOfCountries</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_HasAtLeastOneCountry</name>
        <label>DEC_HasAtLeastOneCountry?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_AssignSharedFileUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotAtLeastOneCountry</defaultConnectorLabel>
        <rules>
            <name>HasAtLeastOneCountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountCountryCollection</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFL_GetPicklistValues</targetReference>
            </connector>
            <label>HasAtLeastOneCountry</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasCountrySelection</name>
        <label>DEC_HasCountrySelection?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_EngagementSharedFileUpdates_NoCountry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoCountrySelection</defaultConnectorLabel>
        <rules>
            <name>HasCountrySelection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Country</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFL_GetSubscribedOfficeFromCountry</targetReference>
            </connector>
            <label>HasCountrySelection</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasFileDeleted</name>
        <label>DEC_HasFileDeleted?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DEC_HasCountrySelection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoFileDeleted</defaultConnectorLabel>
        <rules>
            <name>HasFileDeleted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_DeleteCDAndSharedFile.IsSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CountDeletedFiles</targetReference>
            </connector>
            <label>HasFileDeleted</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasSharedFileRecords</name>
        <label>DEC_HasSharedFileRecords?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCR_NoSharedFileRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoSharedFileRecords</defaultConnectorLabel>
        <rules>
            <name>HasSharedFileRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountSharedFileRecords</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_HasWhichSource</targetReference>
            </connector>
            <label>HasSharedFileRecords</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasSubscribedOffices</name>
        <label>DEC_HasSubscribedOffices?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_AssignSharedFileUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoSubscribedOffices</defaultConnectorLabel>
        <rules>
            <name>HasSubscribedOffices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountSubscribedOffices</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SubscribedOfficesVariable_Engagement</targetReference>
            </connector>
            <label>HasSubscribedOffices</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasSubscribedOffices_Individual</name>
        <label>DEC_HasSubscribedOffices?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_AssignSharedFileUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoSubscribedOffices</defaultConnectorLabel>
        <rules>
            <name>HasSubscribedOffices_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_GetSubscribedOfficesForMobileEmployee.varCountSubscribedOffices</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SubscribedOfficesVariable</targetReference>
            </connector>
            <label>HasSubscribedOffices</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasWhichSource</name>
        <label>DEC_HasWhichSource?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_AssignSharedFileUpdates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>HasEngagementSourceObject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceObjectAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SubscribedOfficeCountries</targetReference>
            </connector>
            <label>HasEngagementSourceObject</label>
        </rules>
        <rules>
            <name>HasAssigneeDocumentCenterSource</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceObjectAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document_Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFL_GetSubscribedOfficesForMobileEmployee</targetReference>
            </connector>
            <label>HasAssigneeDocumentCenterSource</label>
        </rules>
    </decisions>
    <description>Screen flow launched as a subflow to allow the running user to provide additional information and context about one or many files and subsequently update the related Shared File (ACE File) record(s).</description>
    <dynamicChoiceSets>
        <name>collPicklistValueInfoChoiceSet</name>
        <collectionReference>SFL_GetPicklistValues.varPicklistValueInfoCollection</collectionReference>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <object>PicklistValueInfo</object>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistInternalVisibility</name>
        <dataType>Picklist</dataType>
        <displayField xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" p3:nil="true"></displayField>
        <object xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" p3:nil="true"></object>
        <picklistField>Internal_Visibility__c</picklistField>
        <picklistObject>ace_File__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistTaxYear</name>
        <dataType>Picklist</dataType>
        <displayField xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" p3:nil="true"></displayField>
        <object xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" p3:nil="true"></object>
        <picklistField>Tax_Year__c</picklistField>
        <picklistObject>ace_File__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistTypeOfFile</name>
        <dataType>Picklist</dataType>
        <displayField xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" p3:nil="true"></displayField>
        <object xmlns:p3="http://www.w3.org/2001/XMLSchema-instance" p3:nil="true"></object>
        <picklistField>Type__c</picklistField>
        <picklistObject>ace_File__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula that builds a key modeled after OriginalEntityContentDocumentKey__c of recordId+ContentDocumentId</description>
        <name>formulaKey</name>
        <dataType>String</dataType>
        <expression>{!recordId}&amp;{!LOOP_BuildKeyList}</expression>
    </formulas>
    <interviewLabel>SFL_SCR_FileUpload_AdditionalInformation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_SCR_FileUpload_AdditionalInformation</label>
    <loops>
        <name>LOOP_AssignSharedFileUpdates</name>
        <label>LOOP_AssignSharedFileUpdates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_SharedFileRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ClearRecordVariable</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <description>Loops over the ContentDocumentIds passed into the flow and constructs a key that matches the OriginalEntityContentDocumentKey__c structure: recordId+ContentDocumentId</description>
        <name>LOOP_BuildKeyList</name>
        <label>LOOP_BuildKeyList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varContentDocumentIdCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_KeyCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GET_SharedFileRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_BuildListOfCountries</name>
        <label>LOOP_BuildListOfCountries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varSubscribedOffices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CountryList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>DEC_HasAtLeastOneCountry</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GET_SharedFileRecords</name>
        <label>GET_SharedFileRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CountSharedFileRecords</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_SCR_FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalEntityContentDocumentKey__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varKeyCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ace_File__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>File_Name__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>OriginalEntityContentDocumentKey__c</queriedFields>
        <queriedFields>Engagement__c</queriedFields>
        <queriedFields>Work_Record__c</queriedFields>
        <queriedFields>Individual__c</queriedFields>
        <queriedFields>Origin__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Subscribed offices related to an Engagement and their associated Country</description>
        <name>GET_SubscribedOfficeCountries</name>
        <label>GET_SubscribedOfficeCountries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CountSubscribedOffices</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_SCR_FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscribed_Offices__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SCR_EngagementShareFileUpdates</name>
        <label>SCR_EngagementShareFileUpdates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>SFL_DeleteCDAndSharedFile</name>
            <actionName>SFL_DeleteCDAndSharedFile</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>varSharedFileRecordId</name>
                <value>
                    <elementReference>LOOP_AssignSharedFileUpdates.Id</elementReference>
                </value>
            </inputParameters>
            <label>SFL_DeleteCDAndSharedFile</label>
            <nameSegment>SFL_DeleteCDAndSharedFile</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DEC_HasFileDeleted</targetReference>
        </connector>
        <fields>
            <name>TXT_CountOfFiles</name>
            <fieldText>&lt;p&gt;{!varIncrementCount} {!$Label.flow_Text_OfText} {!varCountSharedFileRecords}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SCR_EngagementShareFileUpdates_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_EngagementShareFileUpdates_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Internal_Visibility</name>
                    <choiceReferences>picklistInternalVisibility</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.flow_Label_InternalVisbility}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varInternalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varClientPortalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varAssigneePortalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LOOP_AssignSharedFileUpdates.Engagement__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LOOP_AssignSharedFileUpdates.Work_Record__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>LOOP_AssignSharedFileUpdates.Individual__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LOOP_AssignSharedFileUpdates.Origin__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varOriginFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>LOOP_AssignSharedFileUpdates.Type__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Tax_Year</name>
                    <choiceReferences>picklistTaxYear</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.flow_Label_TaxYear}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varAssigneePortalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FileName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>LOOP_AssignSharedFileUpdates.File_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.flow_Label_FileName}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.flow_Text_MaximumLength255}&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!FileName})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Description</name>
                    <defaultValue>
                        <stringValue>{!LOOP_AssignSharedFileUpdates.Description__c}</stringValue>
                    </defaultValue>
                    <fieldText>{!$Label.flow_Label_Description}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.flow_Text_MaximumLength255}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Description})&lt;=255</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>Country</name>
                    <choiceReferences>collPicklistValueInfoChoiceSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.flow_Label_Country}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>(1 AND (2 OR (3 AND 4))) OR 5</conditionLogic>
                        <conditions>
                            <leftValueReference>varCountCountryCollection</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>1.0</numberValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varClientPortalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varInternalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Internal_Visibility</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Country-Specific</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>varAssigneePortalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Country_Not_Found</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!$Label.flow_Label_CountryNotFound}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>varAssigneePortalFlag</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Country</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.flow_Label_OtherCountry}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Country_Not_Found</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>SFL_DeleteCDAndSharedFile.Results.varSuccessFlag</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SFL_DeleteCDAndSharedFile.Results.varSuccessFlag</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SCR_EngagementShareFileUpdates_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_EngagementShareFileUpdates_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_EngagementShareFileUpdates_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACT_DeleteFile</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Delete</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>SFL_DeleteCDAndSharedFile.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>SFL_DeleteCDAndSharedFile.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>SFL_DeleteCDAndSharedFile.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>SFL_DeleteCDAndSharedFile.Results.varSuccessFlag</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>SFL_DeleteCDAndSharedFile.Results.varSuccessFlag</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_EngagementShareFileUpdates_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TXT_FileDeletedSuccessfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(0, 144, 31); font-size: 16px;&quot;&gt;File has been successfully deleted. Click &#39;Next&#39; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SFL_DeleteCDAndSharedFile.Results.varSuccessFlag</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>ACT_DeleteFile</eventSource>
            <handlers>
                <screenActionName>SFL_DeleteCDAndSharedFile</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>SCR_NoSharedFileRecords</name>
        <label>SCR_NoSharedFileRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_NoSharedFilesFound</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!$Label.flow_Text_NoSharedFiles}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOOP_BuildKeyList</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_SCR_FileUpload_AdditionalInformation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_GetPicklistValues</name>
        <label>SFL_GetPicklistValues</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOOP_AssignSharedFileUpdates</targetReference>
        </connector>
        <flowName>SFL_GetPicklistValues</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObjectAPIName</name>
            <value>
                <stringValue>Subscribed_Offices__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPicklistAPIName</name>
            <value>
                <stringValue>Country__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPicklistValueCollection</name>
            <value>
                <elementReference>varCountryList</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_GetSubscribedOfficeFromCountry</name>
        <label>SFL_GetSubscribedOfficeFromCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_EngagementSharedFileUpdates</targetReference>
        </connector>
        <flowName>SFL_GetSubscribedOfficeFromCountry</flowName>
        <inputAssignments>
            <name>varCountryName</name>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSubscribedOffices</name>
            <value>
                <elementReference>varSubscribedOffices</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_GetSubscribedOfficesForMobileEmployee</name>
        <label>SFL_GetSubscribedOfficesForMobileEmployee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasSubscribedOffices_Individual</targetReference>
        </connector>
        <flowName>SFL_GetSubscribedOfficesForMobileEmployee</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_SCR_FaultMessage</name>
        <label>SFL_SCR_FaultMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SFL_CreateLog</targetReference>
        </connector>
        <flowName>SFL_SCR_FaultMessage</flowName>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_FILTER_RecordsWithoutCountry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <name>currentItem_FILTER_SubscribedOfficesToCountry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscribed_Offices__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssigneePortalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientPortalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContentDocumentIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountCountryCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountDeletedFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountryList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountSharedFileRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountSubscribedOffices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varIncrementCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInternalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varKeyCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOriginFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSharedFileRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <description>Collection of Shared File records to Update</description>
        <name>varSharedFileUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <name>varSourceObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscribedOffice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscribedOffices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscribed_Offices__c</objectType>
    </variables>
</Flow>
