force-app/main/default/flows/SFL_BuildSharedFileToSubscribedOfficeShareRows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountSubscribedOffices</name>
        <label>Assign_CountSubscribedOffices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountSubscribedOffices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_PotentialSubscribedOffices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasAtLeastOneSubscribedOffice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PotentialShareFileShareRecord</name>
        <label>Assign_PotentialShareFileShareRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAceFileRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_BuildPotentialSharedFileShareRows.Account__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAceFileShareRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountShareFileShareRows</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_BuildPotentialSharedFileShareRows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_HasAtLeastOneSubscribedOffice</name>
        <label>DEC_HasAtLeastOneSubscribedOffice?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotAtLeastOneSubscribedOffice</defaultConnectorLabel>
        <rules>
            <name>HasAtLeastOneSubscribedOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountSubscribedOffices</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_BuildPotentialSharedFileShareRows</targetReference>
            </connector>
            <label>HasAtLeastOneSubscribedOffice</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasRelatedGroupID</name>
        <label>DEC_HasRelatedGroupID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>LOOP_BuildPotentialSharedFileShareRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRelatedGroupId</defaultConnectorLabel>
        <rules>
            <name>HasRelatedGroupID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_BuildPotentialSharedFileShareRows.Account__r.RelatedGroupId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PotentialShareFileShareRecord</targetReference>
            </connector>
            <label>HasRelatedGroupID</label>
        </rules>
    </decisions>
    <description>Subflow to assemble potential Shared File (ace File) share rows to share Shared File records with related Subscribed Offices</description>
    <environments>Default</environments>
    <interviewLabel>SFL_BuildPotentialSubscribedOfficeShareRows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_BuildSharedFileToSubscribedOfficeShareRows</label>
    <loops>
        <description>Loops over the Subscribed Office rows and builds a collection of potential Shared File (ace File) share records for use by the parent flow.</description>
        <name>LOOP_BuildPotentialSharedFileShareRows</name>
        <label>LOOP_BuildPotentialSharedFileShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_PotentialSubscribedOffices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_HasRelatedGroupID</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_PotentialSubscribedOffices</name>
        <label>GET_PotentialSubscribedOffices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CountSubscribedOffices</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAceFileRecord.Engagement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varAceFileRecord.Subscribed_Office__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varAceFileRecord.Engagement__r.Coordinating_Office__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscribed_Offices__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Engagement__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_PotentialSubscribedOffices</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_BuildSharedFileToSubscribedOfficeShareRows</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varAceFileRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAceFileRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <name>varAceFileShareCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varAceFileShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varCountShareFileShareRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountSubscribedOffices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
