force-app/main/default/flows/SFL_SCR_FileUpload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountFilesUploaded</name>
        <label>Assign_CountFilesUploaded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountFilesUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>fileUpload.contentDocIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasUploadedFiles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StageAdditionalInformation</name>
        <label>Assign_StageAdditionalInformation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SFL_SCR_FileUpload_AdditionalInformation</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_HasDocumentCenterOrigin</name>
        <label>DEC_HasDocumentCenterOrigin?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCR_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotDocumentCenter</defaultConnectorLabel>
        <rules>
            <name>HasDocumentCenterOrigin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSourceObjectAPIName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document_Center</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SCR_FileUpload</targetReference>
            </connector>
            <label>HasDocumentCenterOrigin</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasUploadedFiles</name>
        <label>DEC_HasUploadedFiles?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>SCR_NoFilesUploaded</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoUploadedFiles</defaultConnectorLabel>
        <rules>
            <name>HasUploadedFiles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountFilesUploaded</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_StageAdditionalInformation</targetReference>
            </connector>
            <label>HasUploadedFiles</label>
        </rules>
    </decisions>
    <description>Screen flow that can be called as a subflow to upload one or multiple files.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaFileNames</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    SUBSTITUTE(
      SUBSTITUTE({!fileUpload.fileNames}, &quot;[&quot;, &quot;&quot;),
    &quot;]&quot;, &quot;&quot;),
  &quot;,&quot;, BR())</expression>
    </formulas>
    <formulas>
        <name>formulaTotalFilesUploaded</name>
        <dataType>Number</dataType>
        <expression>{!varCountFilesUploaded}-{!varCountDeletedFiles}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SFL_SCR_FileUpload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_SCR_FileUpload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <description>Updates Shared File records with updates provided by the user.</description>
        <name>UPD_ShareFilesUpdates</name>
        <label>UPD_ShareFilesUpdates</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SCR_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_SCR_FaultMessage</targetReference>
        </faultConnector>
        <inputReference>varSharedFileUpdateCollection</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>SCR_Complete</name>
        <label>SCR_Complete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TXT_CompleteMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!formulaTotalFilesUploaded} {!$Label.flow_Text_FilesHaveBeenSuccessfullyUploaded}!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Exit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_Confirmation</name>
        <label>SCR_Confirmation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SCR_FileUpload</targetReference>
        </connector>
        <fields>
            <name>SCR_Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SCR_Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TXT_Confirmation</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;﻿{!$Label.flow_Text_YouAreAddingFilesTo} &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!varRecordName}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.flow_Text_ClickNextToContinue}.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SCR_Confirmation_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SCR_FileUpload</name>
        <label>SCR_FileUpload</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>SFL_BuildContentDocumentCollection</name>
            <actionName>SFL_BuildContentDocumentCollection</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>varFileNames</name>
                <value>
                    <elementReference>fileUpload.fileNames</elementReference>
                </value>
            </inputParameters>
            <label>SFL_BuildContentDocumentCollection</label>
            <nameSegment>SFL_BuildContentDocumentCollection</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_CountFilesUploaded</targetReference>
        </connector>
        <fields>
            <name>fileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.flow_Label_UploadFile</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>TXT_Space</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fileUpload.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dataTableFilesSuccessfullyUploaded</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Files successfully uploaded</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>SFL_BuildContentDocumentCollection.Results.varContentDocumentCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-fccf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;File Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fileUpload.fileNames</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>TXT_ClickNextToContinue</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.flow_Text_ClickNextToContinue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screeninit</eventName>
            <eventSource>SCR_FileUpload</eventSource>
            <handlers>
                <screenActionName>SFL_BuildContentDocumentCollection</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldattributechange</eventName>
            <eventSource>fileUpload.fileNames</eventSource>
            <handlers>
                <screenActionName>SFL_BuildContentDocumentCollection</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <description>Shown when no files are uploaded on prior screen.</description>
        <name>SCR_NoFilesUploaded</name>
        <label>SCR_NoFilesUploaded</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>SCR_FileUpload</targetReference>
        </connector>
        <fields>
            <name>TXT_NoFilesUploaded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;{!$Label.flow_Text_NoFilesUploaded}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Back</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <description>This is the stage where the user provides additional information about the files they have uploaded for context.</description>
        <name>Additional_Information</name>
        <isActive>true</isActive>
        <label>Additional Information</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <description>This is the final stage at which point the process is complete.</description>
        <name>Complete</name>
        <isActive>true</isActive>
        <label>Complete</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <description>This is the first stage when the process of uploading files begins.</description>
        <name>Start</name>
        <isActive>true</isActive>
        <label>Start</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <description>This is the stage where files are uploaded by the user.</description>
        <name>Upload_Files</name>
        <isActive>true</isActive>
        <label>Upload Files</label>
        <stageOrder>2</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasDocumentCenterOrigin</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_SCR_FileUpload</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_SCR_FaultMessage</name>
        <label>SFL_SCR_FaultMessage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SFL_CreateLog</targetReference>
        </connector>
        <flowName>SFL_SCR_FaultMessage</flowName>
        <inputAssignments>
            <name>varFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>SFL_SCR_FileUpload_AdditionalInformation</name>
        <label>SFL_SCR_FileUpload_AdditionalInformation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UPD_ShareFilesUpdates</targetReference>
        </connector>
        <flowName>SFL_SCR_FileUpload_AdditionalInformation</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varAssigneePortalFlag</name>
            <value>
                <elementReference>varAssigneePortalFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varClientPortalFlag</name>
            <value>
                <elementReference>varClientPortalFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varContentDocumentIdCollection</name>
            <value>
                <elementReference>fileUpload.contentDocIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varInternalFlag</name>
            <value>
                <elementReference>varInternalFlag</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varSourceObjectAPIName</name>
            <value>
                <elementReference>varSourceObjectAPIName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varCountDeletedFiles</assignToReference>
            <name>varCountDeletedFiles</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSharedFileUpdateCollection</assignToReference>
            <name>varSharedFileUpdateCollection</name>
        </outputAssignments>
    </subflows>
    <textTemplates>
        <name>textFileNames</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!formulaFileNames}</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAssigneePortalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varClientPortalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountDeletedFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountFilesUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varInternalFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSharedFileUpdateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__c</objectType>
    </variables>
    <variables>
        <name>varSourceObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
