force-app/main/default/flows/SFL_GetSubscribedOfficesForMobileEmployee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountSubscribedOffices</name>
        <label>Assign_CountSubscribedOffices</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountSubscribedOffices</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_SubscribedOfficeCountries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSubscribedOffices</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_SubscribedOfficeCountries</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DEC_HasMobileEmployeeRecordWithEngagement</name>
        <label>DEC_HasMobileEmployeeRecordWithEngagement?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoMobileEmployeeRecordWithEngagement</defaultConnectorLabel>
        <rules>
            <name>HasMobileEmployeeRecordWithEngagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_MobileEmployee.Engagements__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_SubscribedOfficeCountries</targetReference>
            </connector>
            <label>HasMobileEmployeeRecordWithEngagement</label>
        </rules>
    </decisions>
    <description>Subflow that takes in a Person Account recordId and finds a related Mobile Employee record with an Engagement and then finds related Subscribed Office records where the Country is populated.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_GetSubscribedOfficesForMobileEmployee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_GetSubscribedOfficesForMobileEmployee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_MobileEmployee</name>
        <label>GET_MobileEmployee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasMobileEmployeeRecordWithEngagement</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement_Assignee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Engagements__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_SubscribedOfficeCountries</name>
        <label>GET_SubscribedOfficeCountries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CountSubscribedOffices</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_MobileEmployee.Engagements__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscribed_Offices__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_MobileEmployee</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_GetSubscribedOfficesForMobileEmployee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountSubscribedOffices</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSubscribedOffices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Subscribed_Offices__c</objectType>
    </variables>
</Flow>
