force-app/main/default/flows/SFL_AssessNewAccountShareRowsToCreate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountExistingMatchingShareRows</name>
        <label>Assign_CountExistingMatchingShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingMatchingShareRows</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>FILTER_ExistingMatchingShareRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasExistingMatchingShareRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CountShareFileRecordsToCreate</name>
        <label>Assign_CountShareFileRecordsToCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountShareFileRecordsToCreate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varAccountShareRecordCollectionToCreate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_NewShareRecord</name>
        <label>Assign_NewShareRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAccountShareRecordToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShareRecordToCreate.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShareRecordToCreate.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.AccountAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShareRecordToCreate.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShareRecordToCreate.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShareRecordCollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountShareRecordToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ResetCount</name>
        <label>Assign_ResetCount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountExistingMatchingShareRows</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FILTER_ExistingMatchingShareRow</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>FILTER_ExistingMatchingShareRow</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>FILTER_ExistingMatchingShareRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_FILTER_ExistingMatchingShareRow</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>varExistingAccountShareRecords</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.AccountAccessLevel</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.AccountAccessLevel</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.RowCause</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Manual</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.UserOrGroupId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.UserOrGroupId</elementReference>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_FILTER_ExistingMatchingShareRow.AccountId</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>LOOP_CheckExistingAgainstPotentialShareRows.AccountId</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_CountExistingMatchingShareRows</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>DEC_HasExistingMatchingShareRow</name>
        <label>DEC_HasExistingMatchingShareRow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_NewShareRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoExistingMatchingShareRow</defaultConnectorLabel>
        <rules>
            <name>HasExistingMatchingShareRow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountExistingMatchingShareRows</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_CheckExistingAgainstPotentialShareRows</targetReference>
            </connector>
            <label>HasExistingMatchingShareRow</label>
        </rules>
    </decisions>
    <description>Subflow used to assess whether to create new Account Share rows based on existing Account Share rows.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_AssessNewAccountShareRowsToCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_AssessNewAccountShareRowsToCreate</label>
    <loops>
        <name>LOOP_CheckExistingAgainstPotentialShareRows</name>
        <label>LOOP_CheckExistingAgainstPotentialShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varPotentialAccountShareRowRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ResetCount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_CountShareFileRecordsToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOOP_CheckExistingAgainstPotentialShareRows</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_FILTER_ExistingMatchingShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShareRecordCollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varAccountShareRecordToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varCountExistingMatchingShareRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountShareFileRecordsToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varExistingAccountShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varPotentialAccountShareRowRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
