force-app/main/default/flows/SFL_GetPicklistValues.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_ResultsToVariables</name>
        <label>Assign_ResultsToVariables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPicklistValueInfoCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_PicklistValueInfo</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountPicklistValueInfoRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_PicklistValueInfo</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DEC_HasFieldDefinition</name>
        <label>DEC_HasFieldDefinition?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoFieldDefinition</defaultConnectorLabel>
        <rules>
            <name>HasFieldDefinition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_FieldDefinition.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_PicklistValueInfo</targetReference>
            </connector>
            <label>HasFieldDefinition</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasObjectDefinition</name>
        <label>DEC_HasObjectDefinition?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotObjectDefinition</defaultConnectorLabel>
        <rules>
            <name>HasObjectDefinition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_ObjectDefinition.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_FieldDefinition</targetReference>
            </connector>
            <label>HasObjectDefinition</label>
        </rules>
    </decisions>
    <description>Subflow to get the API Name and Label of picklist values for a given Object and Picklist that match a given text collection of API Name values. Used to return a filtered set of Labels for use in a Record Choice Set in a screen flow.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_GetPicklistValues {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_GetPicklistValues</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_FieldDefinition</name>
        <label>GET_FieldDefinition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasFieldDefinition</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_ObjectDefinition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPicklistAPIName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ObjectDefinition</name>
        <label>GET_ObjectDefinition</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasObjectDefinition</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varObjectAPIName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DurableId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_PicklistValueInfo</name>
        <label>GET_PicklistValueInfo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ResultsToVariables</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_FieldDefinition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>In</operator>
            <value>
                <elementReference>varPicklistValueCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Value</queriedFields>
        <queriedFields>Label</queriedFields>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_ObjectDefinition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_GetPicklistValues</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_FILTER_PicklistValueInfoCountries</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountPicklistValueInfoRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklistAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklistValueCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPicklistValueInfoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PicklistValueInfo</objectType>
    </variables>
</Flow>
