force-app/main/default/flows/SFL_BuildContentDocumentCollection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_NameToRecord</name>
        <label>Assign_NameToRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varContentDocumentRecord.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_BuildFileCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContentDocumentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContentDocumentRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_BuildFileCollection</targetReference>
        </connector>
    </assignments>
    <description>Subflow used to build a collection of Content Document records for displaying file names of successfully uploaded files.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_BuildContentDocumentCollection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_BuildContentDocumentCollection</label>
    <loops>
        <name>LOOP_BuildFileCollection</name>
        <label>LOOP_BuildFileCollection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>varFileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_NameToRecord</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LOOP_BuildFileCollection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varContentDocumentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>varContentDocumentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>varFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
