force-app/main/default/flows/SFL_GetSubscribedOfficeFromCountry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ACT_GetSubscribedOfficeFromCountry</name>
        <label>ACT_GetSubscribedOfficeFromCountry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SubscribedOfficeFromCountryAction</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>countryName</name>
            <value>
                <elementReference>varCountryName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>offices</name>
            <value>
                <elementReference>varSubscribedOffices</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SubscribedOfficeFromCountryAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varSubscribedOfficeId</assignToReference>
            <name>subscribedOfficeId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <description>Subflow that takes in a selected Country Name and gets the related Subscribed Office ID.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_GetSubscribedOfficeFromCountry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_GetSubscribedOfficeFromCountry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ACT_GetSubscribedOfficeFromCountry</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_GetSubscribedOfficeFromCountry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varCountryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSubscribedOfficeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSubscribedOffices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscribed_Offices__c</objectType>
    </variables>
</Flow>
