force-app/main/default/flows/SFL_BuildAceFileRecordsToShareWithSubscribedOffice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_CountAceFileRecordsToShare</name>
        <label>Assign_CountAceFileRecordsToShare</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCountPotentialAceFileRecordsToShare</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GET_PotentialAceFileRecordsToShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasAtLeastOneAceFileRecordToShare</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ShareFileShareRecord</name>
        <label>Assign_ShareFileShareRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LOOP_BuildSharedFileShareRows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varSubscribedOfficeRecord.Account__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceFileShareRow.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAceShareFileCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAceFileShareRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountShareFileShareRows</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_BuildSharedFileShareRows</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_HasAtLeastOneAceFileRecordToShare</name>
        <label>DEC_HasAtLeastOneAceFileRecordToShare?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotAtLeastOneAceFileRecordToShare</defaultConnectorLabel>
        <rules>
            <name>HasAtLeastOneAceFileRecordToShare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountPotentialAceFileRecordsToShare</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_BuildSharedFileShareRows</targetReference>
            </connector>
            <label>HasAtLeastOneAceFileRecordToShare</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasSubscribedOfficeDOESMatchCoordinatingOffice</name>
        <label>DEC_HasSubscribedOfficeDOESMatchCoordinatingOffice?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_ShareFileShareRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>HasSubscribedOfficeDOESMatchCoordinatingOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSubscribedOfficeRecord.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LOOP_BuildSharedFileShareRows.Engagement__r.Coordinating_Office__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_BuildSharedFileShareRows</targetReference>
            </connector>
            <label>HasSubscribedOfficeDOESMatchCoordinatingOffice</label>
        </rules>
    </decisions>
    <description>Subflow that finds related Shared File (ace_File__c) records to share with new Subscribed Offices if applicable.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_BuildAceFileRecordsToShareWithSubscribedOffice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_BuildAceFileRecordsToShareWithSubscribedOffice</label>
    <loops>
        <description>Loops over the Subscribed Office rows and builds a collection of Shared File (ace File) share records for use by the parent flow.</description>
        <name>LOOP_BuildSharedFileShareRows</name>
        <label>LOOP_BuildSharedFileShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GET_PotentialAceFileRecordsToShare</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DEC_HasSubscribedOfficeDOESMatchCoordinatingOffice</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_PotentialAceFileRecordsToShare</name>
        <label>GET_PotentialAceFileRecordsToShare</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_CountAceFileRecordsToShare</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Engagement__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Engagement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSubscribedOfficeRecord.Engagement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Internal_Visibility__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All Firms on Engagement</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Record__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Individual__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subscribed_Office__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varSubscribedOfficeRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ace_File__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Engagement__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_PotentialAceFileRecordsToShare</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_BuildAceFileRecordsToShareWithSubscribedOffice</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varSubscribedOfficeRecord.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varAceFileShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varAceShareFileCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varCountPotentialAceFileRecordsToShare</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountShareFileShareRows</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varSubscribedOfficeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscribed_Offices__c</objectType>
    </variables>
</Flow>
