force-app/main/default/flows/SFL_DeleteCDAndSharedFile.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_SuccessVariable</name>
        <label>Assign_SuccessVariable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varSuccessFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DEC_HasRelatedCDL</name>
        <label>DEC_HasRelatedCDL?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DELETE_SharedFileRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRelatedCDL</defaultConnectorLabel>
        <rules>
            <name>HasRelatedCDL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_RelatedCDLs.ContentDocumentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_ContentDocument</targetReference>
            </connector>
            <label>HasRelatedCDL</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasSharedFileRecordId</name>
        <label>DEC_HasSharedFileRecordId?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoSharedFileRecordId</defaultConnectorLabel>
        <rules>
            <name>HasSharedFileRecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSharedFileRecordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RelatedCDLs</targetReference>
            </connector>
            <label>HasSharedFileRecordId</label>
        </rules>
    </decisions>
    <description>Subflow to delete a Content Document record and the associated Shared File. Used by the file upload screen flows to delete specific files were needed.</description>
    <environments>Default</environments>
    <interviewLabel>SFL_DeleteCDAndSharedFile {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SFL_DeleteCDAndSharedFile</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DELETE_ContentDocument</name>
        <label>DELETE_ContentDocument</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DELETE_SharedFileRecord</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_RelatedCDLs.ContentDocumentId</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordDeletes>
        <name>DELETE_SharedFileRecord</name>
        <label>DELETE_SharedFileRecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_SuccessVariable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSharedFileRecordId</elementReference>
            </value>
        </filters>
        <object>ace_File__c</object>
    </recordDeletes>
    <recordLookups>
        <name>GET_RelatedCDLs</name>
        <label>GET_RelatedCDLs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasRelatedCDL</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSharedFileRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContentDocumentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasSharedFileRecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SFL_DeleteCDAndSharedFile</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>varSharedFileRecordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varSharedFileRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSuccessFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
