force-app/main/default/flows/SharedFile_AI_AU_ShareAceFileWithAllFirms.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>DEC_HasIsActiveFlowTrue</name>
        <label>DEC_HasIsActiveFlowTrue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotIsActiveFlowTrue</defaultConnectorLabel>
        <rules>
            <name>HasIsActiveFlowTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFL_BuildSharedFileToSubscribedOfficeShareRows</targetReference>
            </connector>
            <label>HasIsActiveFlowTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasShareRowsToCreate</name>
        <label>DEC_HasShareRowsToCreate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoShareRowsToCreate</defaultConnectorLabel>
        <rules>
            <name>HasShareRowsToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_BuildSharedFileToSubscribedOfficeShareRows.varCountShareFileShareRows</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AceShareFileRecords</targetReference>
            </connector>
            <label>HasShareRowsToCreate</label>
        </rules>
    </decisions>
    <description>Record-triggered flow on Shared File (ace File) to share the Shared File with all Subscribed Offices linked to the engagement where appropriate.</description>
    <environments>Default</environments>
    <interviewLabel>SharedFile_AI_AU_ShareAceFileWithAllFirms {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SharedFile_AI_AU_ShareAceFileWithAllFirms</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_AceShareFileRecords</name>
        <label>CREATE_AceShareFileRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <inputReference>SFL_BuildSharedFileToSubscribedOfficeShareRows.varAceFileShareCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_DisableAutomation</name>
        <label>GET_DisableAutomation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasIsActiveFlowTrue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ace_File__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActiveFlow__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_DisableAutomation</targetReference>
        </connector>
        <filterFormula>AND( ISBLANK({!$Record.Work_Record__c}),
     ISBLANK({!$Record.Individual__c}), 
     NOT(ISBLANK({!$Record.Engagement__c})),
     ISPICKVAL({!$Record.Internal_Visibility__c}, &apos;All Firms on Engagement&apos;),
OR(  ISNEW(),
     ISCHANGED({!$Record.Internal_Visibility__c})
  )
)</filterFormula>
        <object>ace_File__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_BuildSharedFileToSubscribedOfficeShareRows</name>
        <label>SFL_BuildSharedFileToSubscribedOfficeShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasShareRowsToCreate</targetReference>
        </connector>
        <flowName>SFL_BuildSharedFileToSubscribedOfficeShareRows</flowName>
        <inputAssignments>
            <name>varAceFileRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SharedFile_AI_AU_ShareAceFileWithAllFirms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
