force-app/main/default/flows/SharedFile_BI_SetOrigin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_OriginAndersen</name>
        <label>Assign_OriginAndersen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Andersen</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_OriginClient</name>
        <label>Assign_OriginClient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_OriginIndividual</name>
        <label>Assign_OriginIndividual</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DEC_HasIsActiveFlowTrue</name>
        <label>DEC_HasIsActiveFlowTrue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotIsActiveFlowTrue</defaultConnectorLabel>
        <rules>
            <name>HasIsActiveFlowTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_RunningUser</targetReference>
            </connector>
            <label>HasIsActiveFlowTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasWhichTypeOfUserCreatedBy</name>
        <label>DEC_HasWhichTypeOfUserCreatedBy?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasAndersenUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_RunningUser.UserType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OriginAndersen</targetReference>
            </connector>
            <label>HasAndersenUser</label>
        </rules>
        <rules>
            <name>HasIndividual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_RunningUser.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_RunningUser.Contact.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OriginIndividual</targetReference>
            </connector>
            <label>HasIndividual</label>
        </rules>
        <rules>
            <name>HasClient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_RunningUser.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_RunningUser.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OriginClient</targetReference>
            </connector>
            <label>HasClient</label>
        </rules>
    </decisions>
    <description>Record-triggered flow on Shared File (ace_File__c) that fires before a Shared File is created to set the Origin based on the user who created the record.</description>
    <environments>Default</environments>
    <interviewLabel>SharedFile_BI_SetOrigin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SharedFile_BI_SetOrigin</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GET_DisableAutomation</name>
        <label>GET_DisableAutomation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasIsActiveFlowTrue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ace_File__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActiveFlow__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_RunningUser</name>
        <label>GET_RunningUser</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasWhichTypeOfUserCreatedBy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_DisableAutomation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ace_File__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
