force-app/main/default/flows/SharedFile_AI_AU_ShareEngagementFilesWithCountries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_ClearPotentialAceFileShareRow</name>
        <label>Assign_ClearPotentialAceFileShareRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasCoordinatingOfficeGroupID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EngagementCoordinatingGroupId</name>
        <label>Assign_EngagementCoordinatingGroupId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCoordinatingOfficeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Engagement__r.Coordinating_Office__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_ExistingShareRecordsBeforeDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IndividualCoordinatingGroupId</name>
        <label>Assign_IndividualCoordinatingGroupId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varCoordinatingOfficeGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GET_MobileEmployeeEngagement.Engagements__r.Coordinating_Office__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GET_ExistingShareRecordsBeforeDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PotentialCoordinatingOfficeShareRow</name>
        <label>Assign_PotentialCoordinatingOfficeShareRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCoordinatingOfficeGroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceShareFileCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPotentialAceFileShareRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountPotentialAceShareFileCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DEC_HasAtLeast1RowToAssessCreating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PotentialSubscribedOfficeShareRow</name>
        <label>Assign_PotentialSubscribedOfficeShareRow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subscribed_Office__r.Account__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRow.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceShareFileCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPotentialAceFileShareRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varCountPotentialAceShareFileCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_ClearPotentialAceFileShareRow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PotentialSubscribedOfficeShareRowToDelete</name>
        <label>Assign_PotentialSubscribedOfficeShareRowToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Subscribed_Office__r.Account__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDeleteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPotentialAceFileShareRowToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SFL_AssessAceFileShareRowsToDelete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PotentialSubscribedOfficeShareRowToDelete_CountryNull</name>
        <label>Assign_PotentialSubscribedOfficeShareRowToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Subscribed_Office__r.Account__r.RelatedGroupId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDelete.RowCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>EngagementStakeholder__c</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPotentialAceFileShareRowToDeleteCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varPotentialAceFileShareRowToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SFL_AssessAceFileShareRowsToDelete_CountryNull</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DEC_HasAceShareRowsToCreate</name>
        <label>DEC_HasAceShareRowsToCreate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoAceShareFileRecordsToCreate</defaultConnectorLabel>
        <rules>
            <name>HasAceShareRowsToCreate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_AssessNewAceFileShareRowsToCreate.varCountAceShareFileRecordsToCreate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AceShareFileRecords</targetReference>
            </connector>
            <label>HasAceShareRowsToCreate</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasAtLeast1RowToAssessCreating</name>
        <label>DEC_HasAtLeast1RowToAssessCreating?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DEC_HasAceShareRowsToCreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotAtLeast1RowToAssessCreating</defaultConnectorLabel>
        <rules>
            <name>HasAtLeast1RowToAssessCreating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCountPotentialAceShareFileCollection</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_ExistingShareRecordsBeforeInsert</targetReference>
            </connector>
            <label>HasAtLeast1RowToAssessCreating</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasChangedSubscribedOffice</name>
        <label>DEC_HasChangedSubscribedOffice?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_ClearPotentialAceFileShareRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotChangedCountry</defaultConnectorLabel>
        <rules>
            <name>HasNullToPopulatedSubscribedOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subscribed_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_HasSubscribedOfficeLinked</targetReference>
            </connector>
            <label>HasNullToPopulatedSubscribedOffice</label>
        </rules>
        <rules>
            <name>HasPopulatedSubscribedOfficeChangedToNewOffice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subscribed_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subscribed_Office__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Subscribed_Office__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PotentialSubscribedOfficeShareRowToDelete</targetReference>
            </connector>
            <label>HasPopulatedSubscribedOfficeChangedToNewOffice</label>
        </rules>
        <rules>
            <name>HasPopulatedSubscribedOfficeToNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Subscribed_Office__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PotentialSubscribedOfficeShareRowToDelete_CountryNull</targetReference>
            </connector>
            <label>HasPopulatedSubscribedOfficeToNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasCoordinatingOfficeGroupID</name>
        <label>DEC_HasCoordinatingOfficeGroupID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>DEC_HasAtLeast1RowToAssessCreating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoCoordinatingOfficeGroupId</defaultConnectorLabel>
        <rules>
            <name>HasCoordinatingOfficeGroupId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCoordinatingOfficeGroupId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PotentialCoordinatingOfficeShareRow</targetReference>
            </connector>
            <label>HasCoordinatingOfficeGroupId</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasEngagementCoordinatingCountryGroupId</name>
        <label>DEC_HasEngagementCoordinatingCountryGroupId?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GET_ExistingShareRecordsBeforeDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoEngagementCoordinatingCountryGroupId</defaultConnectorLabel>
        <rules>
            <name>HasEngagementCoordinatingCountryGroupId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_MobileEmployeeEngagement.Engagements__r.Coordinating_Office__r.RelatedGroupId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IndividualCoordinatingGroupId</targetReference>
            </connector>
            <label>HasEngagementCoordinatingCountryGroupId</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasEngagementCoordinatingOfficeGroupID</name>
        <label>DEC_HasEngagementCoordinatingOfficeGroupID?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GET_ExistingShareRecordsBeforeDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoEngagementCoordinatingOfficeGroupID</defaultConnectorLabel>
        <rules>
            <name>HasEngagementCoordinatingOfficeGroupID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engagement__r.Coordinating_Office__r.RelatedGroupId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EngagementCoordinatingGroupId</targetReference>
            </connector>
            <label>HasEngagementCoordinatingOfficeGroupID</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasIndividualNotEngagement</name>
        <label>DEC_HasIndividualNotEngagement?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>GET_ExistingShareRecordsBeforeDelete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>HasIndividualNotEngagement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Individual__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engagement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GET_MobileEmployeeEngagement</targetReference>
            </connector>
            <label>HasIndividualNotEngagement</label>
        </rules>
        <rules>
            <name>HasEngagementNotIndividual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Engagement__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Individual__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_HasEngagementCoordinatingOfficeGroupID</targetReference>
            </connector>
            <label>HasEngagementNotIndividual</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasIsActiveFlowTrue</name>
        <label>DEC_HasIsActiveFlowTrue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotIsActiveFlowTrue</defaultConnectorLabel>
        <rules>
            <name>HasIsActiveFlowTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEC_HasIndividualNotEngagement</targetReference>
            </connector>
            <label>HasIsActiveFlowTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasShareRowsToDelete</name>
        <label>DEC_HasShareRowsToDelete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>DEC_HasSubscribedOfficeLinked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoShareRowsToDelete</defaultConnectorLabel>
        <rules>
            <name>HasShareRowsToDelete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_AssessAceFileShareRowsToDelete.varCountAceShareFileRecordsToDelete</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_ShareRows</targetReference>
            </connector>
            <label>HasShareRowsToDelete</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasShareRowsToDelete_CountryNull</name>
        <label>DEC_HasShareRowsToDelete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_ClearPotentialAceFileShareRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoShareRowsToDelete</defaultConnectorLabel>
        <rules>
            <name>HasShareRowsToDelete_CountryNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_AssessAceFileShareRowsToDelete_CountryNull.varCountAceShareFileRecordsToDelete</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DELETE_ShareRows_CountryNull</targetReference>
            </connector>
            <label>HasShareRowsToDelete</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasSubscribedOfficeLinked</name>
        <label>DEC_HasSubscribedOfficeLinked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_ClearPotentialAceFileShareRow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoSubscribedOffice</defaultConnectorLabel>
        <rules>
            <name>HasSubscribedOfficeWithRelatedGroupIDLinked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subscribed_Office__r.Account__r.RelatedGroupId__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PotentialSubscribedOfficeShareRow</targetReference>
            </connector>
            <label>HasSubscribedOfficeWithRelatedGroupIDLinked</label>
        </rules>
    </decisions>
    <description>Record-triggered flow on Shared File (Ace File) that fires after-insert and after-update to determine the appropriate offices to add/remove sharing from.</description>
    <environments>Default</environments>
    <formulas>
        <name>formulaAccessLevel</name>
        <dataType>String</dataType>
        <expression>IF(AND(NOT(ISBLANK({!$Record.Engagement__c})),ISBLANK({!$Record.Individual__c})),&quot;Edit&quot;,
    IF(AND(ISBLANK({!$Record.Engagement__c}),NOT(ISBLANK({!$Record.Individual__c}))),&quot;Read&quot;,
       null))</expression>
    </formulas>
    <interviewLabel>SharedFile_AI_AU_ShareEngagementFilesWithCountries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SharedFile_AI_AU_ShareEngagementFilesWithCountries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_AceShareFileRecords</name>
        <label>CREATE_AceShareFileRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <inputReference>SFL_AssessNewAceFileShareRowsToCreate.varAceShareFileRecords</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>DELETE_ShareRows</name>
        <label>DELETE_ShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>DEC_HasSubscribedOfficeLinked</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <inputReference>SFL_AssessAceFileShareRowsToDelete.varAceShareFileRecordsToDelete</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DELETE_ShareRows_CountryNull</name>
        <label>DELETE_ShareRows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_ClearPotentialAceFileShareRow</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <inputReference>SFL_AssessAceFileShareRowsToDelete_CountryNull.varAceShareFileRecordsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GET_DisableAutomation</name>
        <label>GET_DisableAutomation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasIsActiveFlowTrue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ace_File__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActiveFlow__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ExistingShareRecordsBeforeDelete</name>
        <label>GET_ExistingShareRecordsBeforeDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasChangedSubscribedOffice</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ace_File__Share</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>AccessLevel</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_ExistingShareRecordsBeforeInsert</name>
        <label>GET_ExistingShareRecordsBeforeInsert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SFL_AssessNewAceFileShareRowsToCreate</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsDeleted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ace_File__Share</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>AccessLevel</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_MobileEmployeeEngagement</name>
        <label>GET_MobileEmployeeEngagement</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasEngagementCoordinatingCountryGroupId</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assignee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Individual__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Engagement_Assignee__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Engagements__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_DisableAutomation</targetReference>
        </connector>
        <filterFormula>AND(ISBLANK({!$Record.Work_Record__c}),
OR(NOT(ISBLANK({!$Record.Engagement__c})),
       NOT(ISBLANK({!$Record.Individual__c}))
        ),
OR(   ISNEW(),
         ISCHANGED({!$Record.Subscribed_Office__c}),  
         AND(ISCHANGED({!$Record.Engagement__c}),
                  ISBLANK({!$Record__Prior.Engagement__c})),
         AND(ISCHANGED({!$Record.Individual__c}),
                  ISBLANK({!$Record__Prior.Individual__c}))
                 )
)</filterFormula>
        <object>ace_File__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_AssessAceFileShareRowsToDelete</name>
        <label>SFL_AssessAceFileShareRowsToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasShareRowsToDelete</targetReference>
        </connector>
        <flowName>SFL_AssessAceFileShareRowsToDelete</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingSharedFileShareRecords</name>
            <value>
                <elementReference>GET_ExistingShareRecordsBeforeDelete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPotentialDeleteAceShareRowRecords</name>
            <value>
                <elementReference>varPotentialAceFileShareRowToDeleteCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_AssessAceFileShareRowsToDelete_CountryNull</name>
        <label>SFL_AssessAceFileShareRowsToDelete</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasShareRowsToDelete_CountryNull</targetReference>
        </connector>
        <flowName>SFL_AssessAceFileShareRowsToDelete</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingSharedFileShareRecords</name>
            <value>
                <elementReference>GET_ExistingShareRecordsBeforeDelete</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPotentialDeleteAceShareRowRecords</name>
            <value>
                <elementReference>varPotentialAceFileShareRowToDeleteCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_AssessNewAceFileShareRowsToCreate</name>
        <label>SFL_AssessNewAceFileShareRowsToCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasAceShareRowsToCreate</targetReference>
        </connector>
        <flowName>SFL_AssessNewAceFileShareRowsToCreate</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varExistingSharedFileShareRecords</name>
            <value>
                <elementReference>GET_ExistingShareRecordsBeforeInsert</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varPotentialAceShareRowRecords</name>
            <value>
                <elementReference>varPotentialAceShareFileCollection</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SharedFile_AI_AU_ShareEngagementFilesWithCountries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_FILTER_ExistingCoordinatingShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varAceFileShareRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varCoordinatingOfficeGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCountExistingCoordinatingShareRow</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varCountPotentialAceShareFileCollection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEngagementCoordinatingGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPotentialAceFileShareRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varPotentialAceFileShareRowToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varPotentialAceFileShareRowToDeleteCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
    <variables>
        <name>varPotentialAceShareFileCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
</Flow>
