force-app/main/default/flows/SubscribedOffice_AI_AU_ShareAceFilesWithNewFirm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>DEC_HasIsActiveFlowTrue</name>
        <label>DEC_HasIsActiveFlowTrue?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NotIsActiveFlowTrue</defaultConnectorLabel>
        <rules>
            <name>HasIsActiveFlowTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SFL_BuildAceFileRecordsToShareWithSubscribedOffice</targetReference>
            </connector>
            <label>HasIsActiveFlowTrue</label>
        </rules>
    </decisions>
    <decisions>
        <name>DEC_HasPotentialShareRows</name>
        <label>DEC_HasPotentialShareRows?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NoPotentialShareRows</defaultConnectorLabel>
        <rules>
            <name>HasPotentialShareRows</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SFL_BuildAceFileRecordsToShareWithSubscribedOffice.varCountShareFileShareRows</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CREATE_AceShareFileRecords</targetReference>
            </connector>
            <label>HasPotentialShareRows</label>
        </rules>
    </decisions>
    <description>Record-triggered flow on Subscribed Office that shares applicable Shared File (ace_File__c) records with a new Subscribed Office.</description>
    <environments>Default</environments>
    <interviewLabel>SubscribedOffice_AI_ShareAceFileWithNewFirm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubscribedOffice_AI_AU_ShareAceFilesWithNewFirm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CREATE_AceShareFileRecords</name>
        <label>CREATE_AceShareFileRecords</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <inputReference>SFL_BuildAceFileRecordsToShareWithSubscribedOffice.varAceShareFileCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GET_DisableAutomation</name>
        <label>GET_DisableAutomation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DEC_HasIsActiveFlowTrue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SFL_CreateLog</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Subscribed_Offices__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActiveFlow__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_DisableAutomation</targetReference>
        </connector>
        <filterFormula>AND(NOT(ISBLANK({!$Record.Engagement__c})),
         NOT(ISBLANK({!$Record.Account__c})),
         NOT(ISBLANK({!$Record.Account__r.RelatedGroupId__c})),
OR(
     ISNEW(),
     ISCHANGED({!$Record.Engagement__c}),
     ISCHANGED({!$Record.Account__c})
      )
  )</filterFormula>
        <object>Subscribed_Offices__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>SFL_BuildAceFileRecordsToShareWithSubscribedOffice</name>
        <label>SFL_BuildAceFileRecordsToShareWithSubscribedOffice</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DEC_HasPotentialShareRows</targetReference>
        </connector>
        <flowName>SFL_BuildAceFileRecordsToShareWithSubscribedOffice</flowName>
        <inputAssignments>
            <name>varSubscribedOfficeRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>SFL_CreateLog</name>
        <label>SFL_CreateLog</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>SFL_CreateLog</flowName>
        <inputAssignments>
            <name>varFlowAPIName</name>
            <value>
                <stringValue>SharedFile_AI_AU_ShareEngagementWithAllFirms</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>currentItem_FILTER_PotentialAceFileShareRows</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ace_File__Share</objectType>
    </variables>
</Flow>
