force-app/main/default/flows/User_before_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>PreferredNameNotNull</name>
        <label>PreferredNameNotNull</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.CommunityNickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Preferred_Name__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Preferred_Name_is_Null_or_Not</name>
        <label>Check Preferred Name is Null or Not</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Is Preferred Name Null true?</defaultConnectorLabel>
        <rules>
            <name>Is_Preferred_Name_Null_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Preferred_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PreferredNameNotNull</targetReference>
            </connector>
            <label>Is Preferred Name Null False?</label>
        </rules>
    </decisions>
    <description>JIRA:AGMPB-447</description>
    <environments>Default</environments>
    <interviewLabel>User before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User before Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Preferred_Name_is_Null_or_Not</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
