force-app/main/default/flows/User_AI_AU_CreateConsentForInternalUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>Assignment to assign all the consent record into the collection</description>
        <name>Assignment_of_consent_into_List</name>
        <label>Assignment of consent into List</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>ConsentrecSingle.Consent_Form__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Consent_Forms.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentrecSingle.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentrecSingle.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentrecSingle.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentrecSingle.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentrecSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Consent_Forms</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Throw_Exception</name>
        <label>Throw Exception</label>
        <locationX>1144</locationX>
        <locationY>384</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <description>Create initial Consents for Internal User with Consent Form applicable for all Users.</description>
    <environments>Default</environments>
    <formulas>
        <name>ConsentName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName} + &quot; - &quot; + {!Loop_Through_Consent_Forms.Name}</expression>
    </formulas>
    <interviewLabel>User_AI_AU_CreateConsentForInternalUser {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User_AI_AU_CreateConsentForInternalUser</label>
    <loops>
        <description>Loop on all the consent form records</description>
        <name>Loop_Through_Consent_Forms</name>
        <label>Loop Through Consent Forms</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Consent_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_of_consent_into_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Consent_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Consent_Record</name>
        <label>Create Consent Record</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <inputReference>ConsentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get consent records whose status is active and Its applicable to all</description>
        <name>Get_Consent_Forms</name>
        <label>Get Consent Forms</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Consent_Forms</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Applicable_to_All__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact record</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consent_Forms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Throw_Exception</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula> ({!$Record.Profile.Name} = &quot;Internal Andersen User&quot;) ||  ({!$Record.Profile.Name} = &quot;InternalUserSSO&quot;)</filterFormula>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Asynchronous</name>
            <connector>
                <targetReference>Get_Contact_Record</targetReference>
            </connector>
            <label>Asynchronous Run</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>ConsentrecSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
</Flow>
