force-app/main/default/flows/User_AI_CreateInitialConsentRecords.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>What_Type_of_User</name>
        <label>What Type of User?</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Consent_Forms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Record_Type</targetReference>
            </connector>
            <label>Client</label>
        </rules>
        <rules>
            <name>Assignee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assignee Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assignee_Record_Type</targetReference>
            </connector>
            <label>Assignee</label>
        </rules>
    </decisions>
    <description>This flow Used to Create Initial Consent.</description>
    <environments>Default</environments>
    <formulas>
        <name>ConsentName</name>
        <dataType>String</dataType>
        <expression>{!$Record.FirstName} + &quot; &quot; + {!$Record.LastName} + &quot; - &quot; + {!Loop_Through_Consent_Forms.Name}</expression>
    </formulas>
    <interviewLabel>User_AI_CreateInitialConsentRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User_AI_CreateInitialConsentRecords</label>
    <loops>
        <name>Loop_Through_Consent_Forms</name>
        <label>Loop Through Consent Forms</label>
        <locationX>578</locationX>
        <locationY>1032</locationY>
        <collectionReference>Get_Consent_Forms</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Consent_Record</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Consent_Record</name>
        <label>Create Consent Record</label>
        <locationX>666</locationX>
        <locationY>1140</locationY>
        <connector>
            <targetReference>Loop_Through_Consent_Forms</targetReference>
        </connector>
        <inputAssignments>
            <field>Consent_Form__c</field>
            <value>
                <elementReference>Loop_Through_Consent_Forms.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual__c</field>
            <value>
                <elementReference>Get_Assignee_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConsentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Once Criteria to match record to corresponding portal user has been determined, need to update Get Filter</description>
        <name>Get_Assignee_Record</name>
        <label>Get Assignee Record</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consent_Forms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Deactivate_Assignee_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assignee_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignee_Record_Type</name>
        <label>Get Assignee Record Type</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Assignee_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Individual</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Record_Type</name>
        <label>Get Client Record Type</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Current Filter is For only Active US Consent Forms.

Will Add Filter Logic Based on User once that is defined.</description>
        <name>Get_Consent_Forms</name>
        <label>Get Consent Forms</label>
        <locationX>578</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Consent_Forms</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent_Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Once Criteria to match record to corresponding portal user has been determined, need to update Get Filter</description>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consent_Forms</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Deactivate_Client_User</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Client_Record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Deactivate_Assignee_User</name>
        <label>Deactivate Assignee User</label>
        <locationX>842</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Deactivate_Client_User</name>
        <label>Deactivate Client User</label>
        <locationX>314</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <filterFormula>({!$Record.Profile.Name} = &quot;Assignee Portal&quot;) || ({!$Record.Profile.Name} = &quot;Client Portal&quot;)</filterFormula>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Asynchronous</name>
            <connector>
                <targetReference>What_Type_of_User</targetReference>
            </connector>
            <label>Asynchronous Run</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
