force-app/main/default/flows/WorkRecord_BI_BU_SetCountryNameLabel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>Picklist_LABEL</name>
        <label>Picklist LABEL</label>
        <locationX>50</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.COUNTRY_NAME__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_picklist_value.Label</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Automation_Enabled</name>
        <label>Is Automation Enabled?</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Not Enabled</defaultConnectorLabel>
        <rules>
            <name>Is_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_DisableAutomation.IsActiveFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Object_Definition</targetReference>
            </connector>
            <label>Is Enabled</label>
        </rules>
    </decisions>
    <description>Sets the COUNTRY NAME field on the Work Record. The country name field provides a reference to resolve picklist values to the label.</description>
    <environments>Default</environments>
    <interviewLabel>WorkRecord_BI_BU_SetCountryNameLabel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkRecord_BI_BU_SetCountryNameLabel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_DisableAutomation</name>
        <label>Get DisableAutomation</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Automation_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>APIObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work_Record__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>DisableAutomation__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Object_Definition</name>
        <label>Get Object Definition</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Picklist_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work_Record__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Picklist_Definition</name>
        <label>Get Picklist Definition</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_picklist_value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Country__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Object_Definition.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_picklist_value</name>
        <label>get picklist value</label>
        <locationX>50</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Picklist_LABEL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Picklist_Definition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_DisableAutomation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Work_Record__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>picklistlabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.Country__c</elementReference>
        </value>
    </variables>
</Flow>
